@charset "UTF-8";
/* 스킵메뉴 */
#skip {position: relative;}
#skip a {position: absolute; left: 0; top: -40px; width: 140px; line-height: 30px; border: 1px solid #fff; color: #fff; text-align: center; background: #333; }
#skip a:active,
#skip a:focus {top: 0;}

/* 레이아웃 */
#mNav { display:none; position: absolute; top:10px; right: 14px;}
#header {width: 100%; border-bottom: 1px solid #c6c6c6; background-color: #fff; }
#banner {position: relative; }
#movie {background-color: #f8f8f8;}
#opening {margin:17px 0; background: url(../img/bg01.jpg) no-repeat center top; background-size: cover;}
#footer {background: #211f1f;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto;}

/* 로우 영역 */
.row { padding: 0 28px;}

/* 로딩영역 */
.loading_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}
.loading {
  width: 100px;
  height: 100px;
  border: 5px solid #E7B46C;
  border-top-color: #975E1A;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* 모바일 메뉴 */
.ham {display:block; width: 25px; height: 10px; padding: 15px 10px 10px 10px;}
.ham span {position: relative; display:block; width: 25px; height: 4px; background: #39186a;}
.ham span::after {position: absolute; top: -7px; left: 0; content: ''; display: block; width: 25px; height: 4px; background: #39186a;}
.ham span::before {position: absolute; top: 7px; left: 0; content: ''; display: block; width: 25px; height: 4px; background: #39186a;}

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {display:inline-block; padding: 15px 8px 5px 0;}
.header h1 em img {width: 155px;}
.header h1 strong {display:block; position: absolute; top:23px; left: 194px;}
.header h1 strong img{width: 126px; }
.header nav { float: right;}
.header nav ul { border-left: 1px solid #c6c6c6;; }
.header nav ul li { float: left; width:103px; border-right: 1px solid #c6c6c6; text-align: center;}
.header nav ul li a{display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444; }

/* 배너 영역 */
.banner_menu {overflow:hidden; position: absolute; top: 20px; left: 0; width: 100%; height: 100px; z-index: 10;}
.banner_menu a {color: #fff; font-size: 16px; transition: all .3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul,
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_left ul li {display: inline; position:relative; margin-right: 30px;}
.banner_menu .bm_left ul li.total {margin-right: 20px;}
.banner_menu .bm_left ul li.total a {display: inline-block; padding: 3px 10px; border: 1px solid #fff; font-size: 14px; transition: all .3s;}
.banner_menu .bm_left ul li.total a:hover {background: #fff; border-color:#000; color: #000;}
.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul li {display: inline; position: relative; margin-right: 20px; text-align: center;}
.banner_menu .bm_right ul li.white {margin-right: 10px;}
.banner_menu .bm_right ul li.white a {display: inline-block; padding: 7px 30px 9px 30px; width: 80px; background: #fff; color: #3a0e6a; border: 1px solid #fff;}
.banner_menu .bm_right ul li.purple {margin-right:0;}
.banner_menu .bm_right ul li.purple a {display: inline-block; padding: 7px 30px 9px 30px; width: 80px; background: #3a0e6a; color: #fff; border: 1px solid #6e40c4;}
.banner_menu ul li.line { margin-right: 30px;}
.banner_menu li.line::after {content:''; position: absolute; top: 2px; right: -18px; width: 1px; height: 14px; background: #fff; }

/* 슬라이드 */
.slider { width: 100%; height: 600px;}
.slider .ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .swiper-slide h3 {display:inline-block; position: relative; font-size: 62px; line-height: 70px; color: #fff; margin-top: 200px;}
.slider .swiper-slide h3::after {content: ''; position: absolute; left: 0; bottom: -35px; width: 100%; height: 1px; background: rgba(225,225,225,0.3);}
.slider .swiper-slide h3 em { display: block; font-size: 59px; font-weight: 100;}
.slider .swiper-slide p {padding-top: 55px; font-size: 24px; color: #fff;}

/* 무비  */
.movie {padding: 100px 0;}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; margin: 0 auto; width: 848px;}
.movie_title li {float:left; margin-right: -1px; width: 210px; border: 1px solid #c4c4c4; text-align: center;}
.movie_title li.active a {background: #666; color: #fff;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_chart {overflow: hidden;}
.movie_chart > div > div > div { float: left; width: 292px; margin-right: 15px;}
.movie_chart > div  div:last-child {margin-right: 0;}
.movie_chart > div  .poster {position: relative;}
.movie_chart > div  .poster img {display: block;}
.movie_chart > div  .poster .rank { position: absolute; top: 7px; left: 0; width: 50px; height: 50px; background: #38116a; box-shadow: 3px 3px 8px rgba(0,0,0,0.5); text-align: center; line-height: 50px; font-size: 22px;}
.movie_chart > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 8px rgba(0,0,0,1);}
.movie_chart > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.movie_chart > div .poster .mx span {display: block; width: 103px; height: 25px; }
.movie_chart > div .poster .mx .m {background-position: 0 -75px;} 
.movie_chart > div .poster .mx .b {background-position: 0 -100px;} 
.movie_chart > div .infor { background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie_chart > div .infor h3{margin-bottom: 20px; font-size: 30px; font-weight: 700; }
.movie_chart > div .infor h3 span {display:inline-block; margin-top: 9px; width: 29px; height: 29px; vertical-align: -2px;}
.movie_chart > div .infor h3 span.all {background-position: -87px -125px;}
.movie_chart > div .infor h3 span.a12 {background-position: 0px -125px;}
.movie_chart > div .infor h3 span.a15 {background-position: -29px -125px;}
.movie_chart > div .infor h3 span.a19 {background-position: -58px -125px;}
.movie_chart > div .infor_btn {overflow: hidden;}
.movie_chart > div .infor_btn a {float:left; width: 49%; margin-right: 2%; text-align: center; box-sizing: border-box;  padding: 15px 0; background: #f2f2f2; font-size: 18px;}
.movie_chart > div .infor_btn a:last-child {margin-right: 0;}

/* 이벤트 */
.event {overflow: hidden; padding: 100px 0;}
.event img {display: block;}
.event h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.event .event_left {overflow: hidden; float: left; width: 66%; margin-right: 2%;}
.event .event_left .event_box1,
.event .event_left .event_box2 {float: left; width: 50%;}
.event .event_right {float: left; width: 32%; }

/* 오프닝 */
.opening {padding: 100px 0; text-align: center; color: #bb9b51;}
.opening h2 {margin-bottom: 15px;}
.opening h2 .grand {display: inline-block; background-position: 0 -175px; width: 330px; height: 50px;}
.opening .date {display: inline-block; background-position: 0 -225px; width: 260px; height: 45px;}
.opening .desc {font-size: 35px; font-weight: 300;padding-bottom: 20px; background: url(../img/bar.png) no-repeat bottom center; background-size: 100%;}
.opening .open_box {overflow: hidden; padding: 20px 3% 0 3%;}
.opening .open_box > div { float: left; margin:4% 3% 0 3%; width: 27.3333%; border: 1px solid #3e4b44; box-sizing: border-box; background: rgba(0,0,0,0.5);}
.opening .open_box > div h3 {display: inline-block; color: #fff; border: 1px solid #6e3abb; background-color: #551e9b; padding: 10px 20px; margin-top: -24px; font-size: 19px;}
.opening .open_box > div p {font-size: 23px; color: #fff; padding: 6% 0 10% 0;}
.opening .open_box > div em {display:block;}
.opening .open_box > div strong {display:block;}

/* 새로운 영화 */
.new {position: relative; padding: 100px 0;}
.new h2 {margin-bottom: 20px; font-size: 30px; font-weight: 500;}
.new .new_left {position: relative; margin-right: 423px; height: 500px; background: #ccc url(../img/new01.jpg) center center; background-size: cover;}
.new .new_left .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 120px; height: 120px;}
.new .new_left .play .st0 {fill: #fff; opacity: 0.3;}
.new .new_left .play .st1 {fill: #fff;}
.new .new_right {position:absolute; right: 0;top: 165px; padding: 34px; width: 400px; height: 500px; background: #f0f0f0; box-sizing: border-box;}
.new .new_right .title {font-size: 28px; color: #000;}
.new .new_right .releas {font-size: 12px; color: #333;}
.new .new_right .star {padding: 13px 0;}
.new .new_right .star strong {font-size: 15px; padding-left: 5px;}
.new .new_right .star span {display:inline-block; width: 20px; height: 20px; vertical-align: -3px; }
.new .new_right .star .star1 {background-position: -393px 0;}
.new .new_right .star .star2 {background-position: -412px 0;}
.new .new_right .star .star0 {background-position: -374px 0;}
.new .new_right .summary {font-size: 14px;}
.new .new_right .genre {padding-bottom: 3px;}
.new .new_right .age {padding-bottom: 10px;}
.new .new_right .desc { margin-bottom: 20px; height: 108px; overflow: hidden;}
.new .new_right .select {overflow: hidden;}
.new .new_right .select .s1 {float: left; width: 49%; margin-right: 2%;background: #000;}
.new .new_right .select .s2 {float: left; width: 49%; background: #000;}
.new .new_right .select .s3 {float: left; width: 100%; margin-top: 2%;}
.new .new_right .btn {overflow: hidden; margin-top: 2%;}
.new .new_right .btn a {float: left; padding: 10px 30px 12px 30px; width: 49%; box-sizing: border-box; display: block; text-align: center;}
.new .new_right .btn a.white {background: #fff; margin-right: 2%; color: #3a0e6a; border: 1px solid #3a0e6a;}
.new .new_right .btn a.purple {background: #3a0e6a; color: #fff; border: 1px solid #6e40c4;}

/* help */
.help {overflow:hidden; padding-bottom: 200px;}
.help article {float: left; width: 32%; height: 350px; margin-right: 2%;}
.help article > div {border: 1px solid #dbdbdb; height: 350px;}
.help article > div.service {height: auto;}
.help article.help_box3 {margin-right: 0;}
.help article.help_box3 > div {border:0;}
.help article h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}

/* 공지사항 */
.notice {position: relative; padding: 17px;}
.notice ul {overflow: hidden;}
.notice ul li {float: left; text-align: center; margin-right: -1px;}
.notice ul li a {display: block; width: 80px; padding: 10px 20px; border: 1px solid #dbdbdb; font-size: 15px; color: #666; background-color: #f5f5f5; }
.notice ul li.active a {background-color: #fff;}
.notice ul li ul {position: absolute; top: 70px; left: 17px; width: 90%;}
.notice ul li ul li {width: 100%; box-sizing: border-box; padding: 17px; text-align: left; border-bottom: 1px solid #dbdbdb; }
.notice ul li ul li:last-child {border-bottom: none;}
.notice ul li ul li dt em {color: #999;}
.notice ul li ul li dt .bar {position: relative; padding-right: 14px;}
.notice ul li ul li dt .bar:after {content: ''; position: absolute; right: 4px; top: 5px; width: 1px; height: 10px; background: #999;}
.notice ul li ul li dd {color: #777; padding-top: 3px;}
.notice ul li ul li a {border: 0; padding: 0; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 할인카드 */
.card {padding: 17px;}
.card ul li {position: relative; border: 1px solid #d7d7d7; padding: 17px; margin-bottom: 15px; min-height: 102px; box-sizing: border-box;}
.card ul li span{position:absolute; left: 17px; top: 17px;}
.card ul li span img{ width: 105px;}
.card ul li strong {display: block; padding-left: 120px; color: #777; font-size: 18px; font-weight: 500;}
.card ul li em {display: block; padding-left: 120px; font-size: 14px; color: #777; font-weight: 300;}

/* 고객센터 */
.service ul {overflow:hidden;}
.service li {float: left; width: 50%; height: 193px; box-sizing:  border-box; border: 1px solid #d7d7d7; text-align: center;}
.service li a span {display: block; width: 120px; height: 120px; margin: 20px auto 0 auto;}
.service li a strong {color: #666; font-size: 18px; font-weight: 500; overflow:hidden;}
.service li:nth-child(1) {border-right: 0; border-bottom: 0;}
.service li:nth-child(2) { border-bottom: 0;}
.service li:nth-child(3) { border-right: 0;}


/* 푸터 */
.footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block; width: 36px; height: 36px; margin-left: 4px;}
.footer_sns li.s1 {background-position: 0 -375px;}
.footer_sns li.s2 {background-position: -36px -375px;}
.footer_sns li.s3 {background-position: -72px -375px;}
.footer_sns li.s4 {background-position: -108px -375px;}
.footer_sns li.s5 {background-position: -144px -375px;}
.footer_sns li.s1:hover {background-position: 0 -411px;}
.footer_sns li.s2:hover {background-position: -36px -411px;}
.footer_sns li.s3:hover {background-position: -72px -411px;}
.footer_sns li.s4:hover {background-position: -108px -411px;}
.footer_sns li.s5:hover {background-position: -144px -411px;}
.footer_sns .tel {text-align: right; padding-top: 5px;}
.footer_sns .tel a {color: #8f8f8f; font-size: 21px;}
.footer_sns .tel a em {color: #fff;}

.footer_info {padding: 50px 0; width: 80%;}
.footer_info h2 img {width: 150px;}
.footer_info ul {padding: 15px 0;}
.footer_info li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
.footer_info li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
.footer_info li:last-child:after {width: 0; height: 0;}
.footer_info li a {color: #8f8f8f;}
.footer_info address p {color: #8f8f8f; padding-bottom: 15px;}



















