@font-face {
  font-family: "Fulbo";
  src: url(../font/Fulbo-Argenta-1.otf);
  font-display: swap;
}

/* poppins */
.poppins_300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins_400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins_500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins_700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins_900 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
