<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8">
      <meta name="author" content="MOMO IT">
      <meta name="description" content="웹 표준을 준수한 사이트 예제입니다.">
      <meta name="keywords" content="naynara, 웹표준, 웹접근성, 사이트 만들기">
      <title>하나카드</title>

      <meta property="og:url" content="">
      <meta property="og:site_name" content="MOMO SITE">
      <meta property="og:type" content="website">


      <!-- favicon -->
      <link rel="icon" href="../assets/images/favicon.png" sizes="16x16"> 

      <!-- css style -->
      
      <link type="text/css" rel="stylesheet" href="../assets/css/font.css">
      <link type="text/css" rel="stylesheet" href="../assets/css/reset.css">
      <link type="text/css" rel="stylesheet" href="../assets/css/main.css">




      <!-- fontawesome-->
      <script src="https://kit.fontawesome.com/b8141977f4.js" crossorigin="anonymous"></script>

      <!-- 폰트 -->
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      


  </head>
  <body>
      <div id="wrap">
        <div id="header">
          <div class="container">
            <div class="header">
              <ul class="list1">
                <li class="green"><a href="">개인</a></li>
                <li><a href="">기업</a></li>
                <li><a href="">가맹점</a></li>
              </ul>
              <ul class="list2">
                <li class="log"><a href="">로그인</a></li>
                <li><a href="">상품공시실</a></li>
                <li><a href="">금융소비자보호</a></li>
                <li><a href="">English</a></li>
              </ul>
            </div>
            
          </div>
        </div> <!-- //header -->
        <nav id="nav" class="sub_nav">
            <div class="container">
                <ul class="gnb">
                    <li><a href="#">마이페이즈</a></li>
                    <li><a href="#">카드</a></li>
                    <li><a href="#">금융</a></li>
                    <li><a href="#">혜택</a></li>
                    <li><a href="#">라이프</a></li>
                    <li><a href="#">모바일</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            
                <ul class="gnb_right">
                    <li class="gr1"><a href="#">간편서비스</a></li>
                    <li class="gr2"><a href="#">전체메뉴<span> &nbsp<i class="fa fa-bars"></i></span></a></li>
                </ul>
                <a class="gnb_search" href="#"><span class="ir">통합검색</span><i class="ir">레이어팝업 열림</i></a>
            
                <div>
                    <span class="header_bg" style="height: 0px;"></span>
                </div>
            </div>
        </nav><!-- //nav  -->
            
        <div id="contents">
            <div class="container">
                
            </div>
        </div>
        <!-- //contents -->
        <div id="footer">
           <div id="footer_notice">
              <div class="container">
                <div class="notice">
                  <h3><a href="#">공지사항 <i class="fa fa-plus"></i></a></h3>
                  <ul>
                    <li><a href="#">[공지] CLUB Premier 카드 서비스 변경 안내</a></li>
                    <li><a href="#">[공지] 시스템 점검에 따른 대고객 서비스 이용안내</a></li>
                  </ul>
                  <a class="btn_notice">서비스변경안내</a>
                </div>
              </div>
           </div>
            <!-- //footer_notice -->
           <div id="footer_info">
              <div class="container">
                <div class="info">
                    <ul>
                      <li><a href="#">회사소개</a></li>
                      <li><a href="#">경영고시</a></li>
                      <li><a href="#">웹이용약관</a></li>
                      <li><a href="#">보안프로그램 장애해결</a></li>
                    </ul>
                    <ul class="t2">
                      <li><a href="#">개인정보처리방침</a></li>
                      <li><a href="#">분실신고/재발급</a></li>
                      <li><a href="#">전자민원접수</a></li>
                      <li><a href="#">그룹사간 고객정보제공내역</a></li>
                      <li style="padding: 5px 0;"><img src="../assets/images/footer_logo02.png"></li>
                    </ul>
                    <select class="family_site" title="하나금융그룹 사이트목록">
                      <option>패밀리 사이트</option>
                      <option>하나벤처스</option>
                      <option>하나고등학교</option>
                      <option>하나미소금융재단</option>
                      <option>하나케어센터</option>
                      <option>하나금융공익재단</option>
                    </select> 
                </div>
                <address>
                  <a href="#none"  class="act">고객센터(유료) 국내 1800-1111 / 해외 82-1800-1111</a>
                  <a href="#none" >그룹사간 고객정보 제공내역 조회</a>
                  <a href="#none" >이메일상담</a>
                  <a href="#none" >자주하는 질문</a><br>
                  <span>사업자번호 104-86-56659</span>
                  <span>통신판매신고번호 제 2014-서울중구-0946호</span>
                  <span>방문판매업 신고번호 제 2014-서울중구-0012호</span>
                  <span>전화권유판매업 신고번호 제 2014-서울중구-0014호</span>
                  <span>서울특별시 중구 을지로 66</span>
                  <span>대표이사 장경훈</span>
                  <span>COPYRIGHTⓒ 2017 KEB Hana Card. All RIGHTS RESERVED</span>
                </address>
                <div class="f_icon">
                  <ul>
                    <li><a href="#"><img src="../assets/images/mark01.png" alt=""><span class="text">웹어워드 코리아 2016<br>모바일 웹 월간 DI 특별 대상 수상</span></a></li>
                    <li><a href="#"><img src="../assets/images/mark01.png" alt=""><span class="text">제 6회 2016 대한민국 SNS대상<br>신용카드/올해의 페이스북 부문 대상</span></a></li>
                    <li><a href="#"><img src="../assets/images/mark03.png" alt=""><span class="text">정보보호 관리체계 인증<br>대고객 홈페이지 운영(웹,모바일)</span></a></li>
                    <li><a href="#"><img src="../assets/images/mark04.png" alt=""><span class="text">웹접근성 인증<br>웹와치 주식회사</span></a></li>
                    <li><a href="#"><img src="../assets/images/mark05.png" alt=""><span class="text">카드결제산업<br>데이터보안 표준 인증</span></a></li>
                  </ul>
                </div>
                <div class="sns_icon">
                  <ul>
                    <li><a href="#" class="btn_facebook">페이스북</a></li>
                    <li><a href="#" class="btn_kakaostory">카카오스토리</a></li>
                    <li><a href="#" class="btn_youtube">유튜브</a></li>
                    <li><a href="#" class="btn_insta">인스타</a></li>
                  </ul>
                </div>
              </div>
           </div>
            <!-- //footer_info -->
        </div>
        <!-- //footer -->
      </div>
      <!-- //wrap -->
  </body>
</html>