<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <meta name="author" content="ujjj" />
    <meta name="description" content="uj Portfolio" />
    <title>uj Portfolio</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset_ani.css" />
    <link rel="stylesheet" href="./style_ani.css" />

    <!-- web font -->
  </head>

  <body>
    <div id="wrap">
      <section id="animation">
        <div class="circle_box">
          <div class="all">
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="circle_container">
              <div class="ani_circle"></div>
            </div>
            <div class="loader">
              <div class="load-circle"></div>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix
                  in="blur"
                  mode="matrix"
                  values="1 0 0 0 0  
                                    0 1 0 0 0  
                                    0 0 1 0 0  
                                    0 0 0 25 -8"
                  result="goo"
                />
                <feBlend in="SourceGraphic" in2="goo" />
              </filter>
            </defs>
          </svg>
        </div>
      </section>
      <!-- /#animation -->
    </div>

    <!-- <script src="./custom_ani.js"></script> -->
  </body>
</html>
