<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <meta name="author" content="ujjj" />
    <meta name="description" content="uj Portfolio" />
    <title>uj Portfolio</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset_ani.css" />
    <link rel="stylesheet" href="./style_ani.css" />

    <!-- web font -->
  </head>

  <body>
    <div id="wrap">
      <section id="animation">
        <div class="heart_box">
          <div class="heart_ani"></div>
        </div>
      </section>
      <!-- /#animation -->
    </div>

    <!-- <script src="./custom_ani.js"></script> -->
  </body>
</html>
