:root {
    font-size: 16px;
    line-height: 1.4;
    --font-main: 'futura-extra';
    --font-main2: 'futura-book';
    --font-sub1: 'atheneregular';
    --font-sub2: 'montserratregular';
    --font-kor: 'Chosunilbo_myungjo';
    --bg-color-main: #EBE8E4;
}