@import url(//db.onlinewebfonts.com/c/0fddb08144cea533dcd3d39388b7ffbe?family=GrandSlang+Roman);

body{
    background: #252525;
    margin: 0 auto
}
.container {
    width: 1600px;
    margin: 0 auto;
}
p{
    font-family: 'Grandslang roman', sans-serif;
    font-size: 150px;
    color: #fff;
    text-align: left;
    line-height: 1;
    transform: translate(25%)
}
span {
    margin-left: 200px;
}