
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient( 135deg, #fdfdfd 10%, rgb(208, 240, 255) 100%);
}
h1{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: center;
}
.log-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 2em;
    margin: auto;
    border-top: 2px solid #555;
    background: #fff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.mb-15{
    margin-bottom: .5rem!important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    color: #495057;
    border-radius: 0;
    margin: 0;
    margin-bottom: .5rem!important;
    border: 1px solid #e7eaee;
    padding: .375rem .75rem .375rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.btn-login{
    background: #003964;
    color: #fff;
    width: 100%;
    min-width: 120px;
    padding: .75rem 0;
    font-size: 1rem;
    border:0;
    transition: 0.5s;

}
.btn-login:hover{
    background: #999;
    color: #fff;
}
.checkbox{
    text-align: left;
    font-size: .75rem;
}
footer {
    background: #555;
    height: 40px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer h5 {
    color: #ffffff;
    font-weight: 400;
    line-height: 40px;
    font-size: .5rem;
    margin: 0;
}

@media (max-width: 414px){
    .form-signin {
      max-width: 75vw;}
  }