@charset "UTF-8";
@import 'variables.scss';
@import 'mixins.scss';

/* 로딩 시작 */
#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    div {
        background-color: $color-loading;
        width: 25%;
        height: 100%;
        transform-origin: right;
        transform: scale(1.1, 1);
    }
    &.close {
        div {
            &:nth-child(1) {animation: loadClose 0.7s 0.9s backwards;}
            &:nth-child(2) {animation: loadClose 0.7s 0.6s backwards;}
            &:nth-child(3) {animation: loadClose 0.7s 0.3s backwards;}
            &:nth-child(4) {animation: loadClose 0.7s backwards;}
        }
    }

    &.start {
        div {
            &:nth-child(1) {animation: loadStart 0.7s forwards;}
            &:nth-child(2) {animation: loadStart 0.7s 0.3s forwards;}
            &:nth-child(3) {animation: loadStart 0.7s 0.6s forwards;}
            &:nth-child(4) {animation: loadStart 0.7s 0.9s forwards;}
        }
    }
    
}

@keyframes loadClose {
    0% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes loadStart {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 1);
    }
}