@charset "utf-8";
/* font */
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bedini-Bold-Italic';
    src:url('../fonts/bedini/Bedini-Bold-Italic.ttf.woff') format('woff'),
        url('../fonts/bedini/Bedini-Bold-Italic.ttf.svg#Bedini-Bold-Italic') format('svg'),
        url('../fonts/bedini/Bedini-Bold-Italic.ttf.eot'),
        url('../fonts/bedini/Bedini-Bold-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

/* reset */
/*여백 초기화*/
body,div,ul,li,dl,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,textarea,button,form,iframe {margin: 0; padding: 0; box-sizing: border-box;}

/* 전체 배경색 설정 및 폰트설정 */
body {
    color: #545454;
    background: var(--gray-bg);
    word-break: keep-all;
    font-family: 'Playfair Display', 'Abel', 'MaruBuri-Regular', sans-serif, serif;
}

/* a링크 초기화 */
a {color: #545454; text-decoration: none;}

/* 폰트 스타일 초기화 */
em, address {font-style: normal;}
strong {font-weight: normal}

/* 블릿기호 초기화 */
ul, li, ol {list-style: none;}

/* 제목 태그 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-size: 16px; font-weight: normal; color: #3c3c3c;
}

img {width: 100%; display: block; vertical-align: top;}
img, fieldset {
    border: 0 none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IR 기법 */
.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: -1;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #333;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* clearfix */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}
