@charset 'utf-8';



:root {
    --gray-bg: #F6F6F6;
    --beige-bg: #F5EFE1;
    --mint-bg: #EBF4EA;
    
    --beige-circle: #EBE3CF;
    --mint-circle: #D7DFD4;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--gray-bg);
    padding: 0 2px;
}
::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--beige-circle);
    border-radius: 5px;
    padding: 0 2px;
}

/* change bg color */
body {
    transition: background .6s ease-in-out;
    overflow-x: hidden;
}
.bgBeige {
    background: var(--beige-bg);
}
.bgMint {
    background: var(--mint-bg);
}


/* layout */
#loading {
    position: fixed;
    z-index: 10000000;
    width: 100vw;
    height: 100vh;
    background : var(--beige-bg);
    overflow: hidden;
    transition: .5s ease;
    opacity: 1;
}
#header {
    position: fixed;
    left: 0; top: 0; z-index: 100000;
    width: 100%; height: 10vh;
    max-height: 80px;
    transition: all .3s ease;
}
#header.on {
    position: fixed; top: -15vh;
}
#section1 {
    transition: all .5s ease-in-out;
    height: 100vh;
}
#section2 {
    overflow: hidden;
    padding-bottom: 10em;
}
#section3 {
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%; height: 100vh;
    max-height: 1000px;
    padding: 5em 0;
}
#section5 {
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%; height: 100vh;
    max-height: 1000px;
    padding: 5em 0;
}
#footer {
    position: relative;
    z-index: 0;
    height: 100vh;
    max-height: 1000px;
}


/* container */
.container {max-width: 1300px; width: 100%; height: 100%;  margin: 0 auto;}
.container2 {max-width: 1920px; width: 100%; height: 100%; margin: 0 auto;}
.container3 {max-width: 2560px; width: 100%; height: 100%; margin: 0 auto;}

/*양 옆 패딩 값 설정*/
    .row {padding: 0 3%;}


/* scroll */
.scroll {
    position: fixed; right: 10px; bottom: 10px;
    z-index: 1000;
    width: 40px; height: 40px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 40px;
    color: #fff;
}


/* loading */
#loading.invisible {
    opacity: 0;
    z-index: -9999;
}
.loading {}
.imgCircleWrap {
    margin-top: -45%;
}
.imgCircle {
    width: 80vw;
    height: 70vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.loadingBg {
    width: 120%;
    
    animation: scale 15s linear;
}
@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}
.loadingCircle {
    width: 8vw;
    min-width: 100px;
    margin: -2% auto 0 auto;
    
    animation: spinCircle 8s infinite linear;
}

.textWrap {
    position: absolute;
    left: 0;
    bottom: -15%;
    z-index: -1;
}

.loadingText {
    font-size: 24vw;
    font-style: italic;
    letter-spacing: 0.01em;
    font-family: 'Bedini-Bold-Italic';
    
    -webkit-text-stroke-color: var(--beige-circle);
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
/*    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);*/
    background-image: linear-gradient(90deg, var(--beige-circle) 0%, var(--beige-circle) 50%, transparent 50.1%);
    background-size: 0% 100%;
}
/*
.loadingText:hover {
    background-size: 200% 100%;
}
*/

/* header */
.header {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Abel';
}
.menu-btn a {
    display: block;
    padding: 0 2em;
} 
.head-tit {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display';
    font-style: italic;
}
.nav {
    display: block;
}
.nav ul {
    padding: 0 2em;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    display: block;
    padding: 0 0.7em;
    transition: all .3s ease;
}
.nav ul li a:hover {
    color: #CAB193;
}
.nav ul li a:active {
    color: #111111;
}
/* 반응형 nav */
.navShow {
    display: none;
}
.navShow ul {
    padding: 0 1em;
}
.navShow ul li {
    display: inline-block;
}
.navShow ul li a {
    display: block;
    padding: 0 0.4em;
    transition: all .3s ease;
}
.navShow ul li a:hover {
    color: #CAB193;
}
.navShow ul li a:active {
    color: #111111;
}
/* 모바일 햄버거 메뉴 */
.ham {
    display: none;
}
.ham label .menu{
    position: absolute;
    right: -55px;
    top: -55px;
    z-index: 100;
    width: 130px;
    height: 130px;
    background: #EFE7D5;
    border-radius: 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #EFE7D5, 0 0 0 0 #EFE7D5;
    cursor: pointer;
}
.ham label .menu .hamburger {
    position: absolute;
    top: 85px;
    left: 34px;
    width: 23px;
    height: 1px;
    background: #545454;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}
.ham label .menu .hamburger::after, .ham label .menu .hamburger::before{
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 23px;
    height: 1px;
    background: #545454;
}
.ham label .menu .hamburger::before {
    top: -6px;
}
.ham label .menu .hamburger::after {
    bottom: -6px;
}
.ham label input {
    display: none;
}
input:checked + .menu {
    box-shadow: 0 0 0 100vw #EFE7D5, 0 0 0 100vh #EFE7D5;
    border-radius: 0;
}
input:checked + .menu .hamburger {
    transform: rotate(45deg);
}
input:checked + .menu .hamburger::after {
    transform: rotate(90deg);
    bottom: 0;
}
input:checked + .menu .hamburger::before {
    transform: rotate(90deg);
    top: 0;
}    
input:checked + .menu + ul {
    display: block;
    animation: fadeInFromNone 0.5s forwards ease-in-out;
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
.ham label ul {
    z-index: 200;
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: .25s 0s ease-in-out;
}    
.ham label ul li a {
    margin-bottom: 1em;
    display: block;
    color: #545454 !important;
    text-decoration: none;
}


/* sec1 */
.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}
.sec1 img {
    width: 100%;
}
.title h1 {
    position: relative;
    z-index: 1000;
    font-size: 8vw;
    font-family: 'Abel';
    line-height: 8vw;
    text-align: center;
    padding-right: 15vw;
    letter-spacing: -2px;
}
.title h1 strong {
    display: block;
    font-family: 'Bedini-Bold-Italic';
    font-style: italic;
    padding-left: 32vw;
    font-weight: 900;
/*    letter-spacing: 1px;*/
}
.title span {
    position: absolute;
    font-style: italic;
    font-weight: 500;
    font-size: 1vw;
}
.title span.text {
    right: 25%;
    top: 20%;
}
.title span.hoverText {
    top: 60%;
    left: 20%;
}
.sec1 .imgbox1 {
    position: absolute; left: 20%; top: 0; width: 13vw; height: 15vw;
}
.sec1 .imgbox2 {
    position: absolute; right: 0; top: 30%; width: 20vw; height: 23vw;
}
.sec1 .imgbox3 {
    position: absolute; left: 0; bottom: -4px; width: 50vw; height: 14.5vw;
}
.sec1 .introimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.sec1 .introimg.normal {
    opacity: 1;
    transition: all .6s ease-in-out;
}
.sec1 .introimg.normal .normalCircle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(0deg);
    transition: .6s ease-in-out;
}
.sec1 .introimg.normal .normalCircle.rotate {
    transform: rotate(45deg);
}

.sec1 .introimg.beige {
    opacity: 1;
    transition: all .6s ease-in-out;
}
.sec1 .introimg.beige .beigeCircle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(-45deg);
    transition: .6s .15s ease-in-out;
}
.sec1 .introimg.beige .beigeCircle.rotate {
    transform: rotate(0deg);
}

.sec1 .introimg.grey {
    opacity: 1;
    transition: all .6s ease-in-out;
}
.sec1 .introimg.grey .greyCircle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(-45deg);
    transition: .6s .15s ease-in-out;
}
.sec1 .introimg.grey .greyCircle.rotate {
    transform: rotate(0deg);
}

.sec1 .introimg.mint {
    opacity: 1;
    transition: all .6s ease-in-out;
}
.sec1 .introimg.mint .mintCircle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(-45deg);
    transition: .6s .15s ease-in-out;
}
.sec1 .introimg.mint .mintCircle.rotate {
    transform: rotate(0deg);
}

.sec1 .introimg.invisible {
    opacity: 0;
}





.sec1 .circle1 {
    position: absolute; z-index: 120;
    left: -25%;
    top: 75%;
    width: 8vw;
    height: 8vw;
    background: rgb(236,228,208);
    border-radius: 50%;
    transition: transform .25s ease-in-out;
    max-width: 700px;
    max-height: 700px;
}
.sec1 .circle2 {
    position: absolute; z-index: 110; 
    right: 25%; top: 80%; 
    width: 8vw; height: 8vw;
    background: rgb(235,235,235);
    border-radius: 50%;
    transition: transform .25s ease-in-out;
}

.sec1 .circle3 {
    position: absolute; z-index: 100;
    left: 93%; bottom: 2%; 
    width: 8vw; height: 8vw;
    background: rgb(230,239,229);
    border-radius: 50%;
    transition: transform .25s ease-in-out;
}
.sec1 .circle1:hover {
    transform: scale(1.1);
}
.sec1 .circle2:hover {
    transform: scale(1.1);
}
.sec1 .circle3:hover {
    transform: scale(1.1);
}


.sec1 .circle1 .circle1img {
    position: absolute; z-index: 1210;
    left: 0; top: 0;
    width: 100%; height: 100%;
    border-radius: 50%;
    
    animation: spinCircle 8s infinite linear;
}
.sec1 .circle2 .circle2img {
    position: absolute; z-index: 1110;
    left: 0; top: 0;
    width: 100%; height: 100%;
    border-radius: 50%;  
    
    animation: spinCircle 8s infinite linear;
}
.sec1 .circle3 .circle3img {
    position: absolute; z-index: 1010;
    left: 0; top: 0;
    width: 100%; height: 100%;
    border-radius: 50%;  
    
    animation: spinCircle 8s infinite linear;
}
@keyframes spinCircle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


/* sec2 */
.sec2 {
    display: flex; 
    align-items: center;
    padding-top: 30vh; 
    position: relative; 
    z-index: 1000;
}
.sec2 .left {
    flex: 0 0 50%;
    position: relative;
}
.sec2 .left img.me {
    width: 70%;
    margin-left: 30%;
    margin-bottom: -21%;
/*    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);*/
}
.sec2 .left .sideImg {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 10em;
    bottom: -20em;
}

.sec2 .right {
    flex: 0 0 50%;
    padding: 3% 7%;
    overflow: hidden;
}
.sec2 .right h2 {
    padding: 30px 0;
    font-family: 'Abel';
    color: #3c3c3c;
    font-size: 100px;
    line-height: 1;
    text-transform: uppercase;
    
}

.sec2 .right .aboutSlideText {
    position: absolute;
    z-index: -1;
    width: 1000%;
    color: #CAB193;
    font-size: 2.5vw;
    font-style: italic;
    margin-left: -22%;
    letter-spacing: 0.02em;
    overflow: hidden;
}
.sec2 .right .aboutSlideText p {
    
}
.sec2 .right .aboutSlideText p span::before,
.sec2 .right .aboutSlideText p span::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 1px;
    background: #CAB193;
    margin: 0.2em;
}

.sec2 .right > p {
    margin-top: 6.5em;
    font-family: 'MaruBuri-Regular';
    font-size: 18px;
    line-height: 1.6;
    word-break: keep-all;
    padding-right: 4vw;
}


/* myworks - my-header */
.sec3:hover .tit-bgcircle {
    transform: translate(-50%, -50%) scale(1.1);
}
.sec3 h2 {
    font-size: 9vw;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #3C3C3C;
    font-family: 'Abel';
    width: 200%;
    margin-left: 0%;
}
.sec3 h2.show {
        opacity: 1; transform: translateY(0);
    }
.sec3 h2 strong {
    color: #3C3C3C;
    font-style: normal;
    -webkit-text-stroke: 0px;
    font-family: 'Playfair Display';
}
.sec3 span {
    color: #8C8C8C;
    font-style: italic;
}
.sec3 .left-text {
    position: absolute;
    bottom: 33%;
    left: 22vw;
    text-align: center;
}
.sec3 .left-text > span {
    display: block;
}
.sec3 .right-text {
    position: absolute;
    top: 36%;
    right: 20vw;
}
.tit-bgcircle {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 25vw;
    height: 25vw;
    background: #ECE4D0;
    border-radius: 50%;
    transition: transform .3s ease-in-out;
}
.rightLeaf {
    width: 12vw;
    position: absolute;
    bottom: 55%;
    left: 60%;
    z-index: -2;
    transform-origin: bottom left;
    transform: scale(0.6);
    transition: transform 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.leftLeaf {
    width: 12vw;
    position: absolute;
    top: 55%;
    right: 60%;
    z-index: -2;
    transform-origin: top right;
    transform: scale(0.6);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.sec3:hover .rightLeaf {
    transform: rotate(-30deg) scale(1.0);
}
.sec3:hover .leftLeaf {
    transform: rotate(-25deg) scale(1.0);
}




/* section4 myworks - my */
.my {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100vh;
    max-height: 1000px;
    overflow: hidden;
}
.my:nth-of-type(2n-1) {
    flex-flow: row-reverse;
}
.works-desc-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    
    opacity: 0;
    transform: translateY(10%);
    transition: .5s  ease-in-out;
}
.works-desc-wrap.show {
    opacity: 1;
    transform: translateY(0);
}
.works-desc-wrap .works-desc {
    width: 70%;
}
.works-desc-wrap .works-desc > span {
    font-family: 'Abel';
    text-transform: uppercase;
}
.works-desc-wrap .works-desc > h3 {
    font-size: 34px;
    opacity: 0;
    transform: translateY(10%);
    transition: 300ms .1s ease-in-out
}
.works-desc-wrap .works-desc > h3.show {
    opacity: 1;
    transform: translateY(0);
}
.works-desc-wrap .works-desc > h3 strong {
    display: block;
    font-size: 65px;
    margin: 2% 0 11% 0;
}
.works-desc-wrap .works-desc > p {
    margin-bottom: 15%;
    width: 90%;
    font-family: 'MaruBuri-Regular';
    font-size: 18px;
    line-height: 1.6;
    word-break: keep-all;
    
    opacity: 0;
    transform: translateY(10%);
    transition: 300ms .3s ease-in-out;
}
.works-desc-wrap .works-desc > p.show {
    opacity: 1;
    transform: translateY(0);
}
.works-desc-wrap .works-desc > .works-btn a {
    position: relative;
    display: inline-block;
    width: 28%;
    border: #E5D8B6 2px solid; 
    border-radius: 60px;
    padding: 0.7em 2em;
    margin-right: 10px;
    transition: background-color .3s ease-in-out;
}
.works-desc-wrap .works-desc > .works-btn a:hover {
    background-color: #E5D8B6;
}
.works-desc-wrap .works-desc > .works-btn a strong {
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
}
.works-desc-wrap .works-desc > .works-btn a .arrow {
    position: absolute;
    top: 50%; right: 15%;
    width: 30px;
    border-top: 1px solid #545454;
}
.works-desc-wrap .works-desc > .works-btn a .arrow:after {
    position: absolute;
    content: '';
    top: -1px;
    right: -10px;
    width: 10px;
    border-top: 1px solid #545454;
    transform-origin: left;
    transform: rotate(220deg);
}
.works-img {
    width: 50%;
    height: 100%;
}
.works-img.web {
    background: url(../img/myworks01.jpg) no-repeat center/cover;
}
.works-img.respon {
    background: url(../img/myworks02.jpg) no-repeat center/cover;
}
.works-img.mega {
    background: url(../img/myworks03.jpg) no-repeat center/cover;
}
.works-img.mobile {
    background: url(../img/myworks04.jpg) no-repeat center/cover;
}


/* sec5 */
.sec5 h2 {
    font-size: 9vw;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #3C3C3C;
    font-family: 'Abel';
    margin-left: 0%;
    width: 200%;
}
.sec5 h2 strong {
    color: #3C3C3C;
    font-style: normal;
    -webkit-text-stroke: 0px;
    font-family: 'Playfair Display';
}
.sec5 span {
    color: #8C8C8C;
    font-style: italic;
}
.sec5 .left-text {
    position: absolute;
    bottom: 33%;
    left: 22vw;
    text-align: center;
}
.sec5 .left-text > span {
    display: block;
}
.sec5 .right-text {
    position: absolute;
    top: 36%;
    right: 20vw;
}
.sec5 .tit-bgcircle {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 25vw;
    height: 25vw;
    background: var(--mint-circle);
    border-radius: 50%;
    transition: transform .3s ease-in-out;
}
.sec5:hover .tit-bgcircle {
    transform: translate(-50%, -50%) scale(1.1);
}
.sec5 .rightLeaf {
    width: 16vw;
    position: absolute;
    bottom: 55%;
    left: 56%;
    z-index: -2;
    transform-origin: bottom left;
    transform: scale(0.6);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.sec5 .leftLeaf {
    width: 16vw;
    position: absolute;
    top: 55%;
    right: 56%;
    z-index: -2;
    transform-origin: top right;
    transform: scale(0.6);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.sec5:hover .rightLeaf {
    transform: rotate(20deg) scale(1.0);
}
.sec5:hover .leftLeaf {
    transform: rotate(25deg) scale(1.0);
}






/* section6 */
.sec6 {
    text-transform: uppercase;
}
.js-cont-box {
    display: flex;
    transition: filter .6s ease-in-out;
}
.filter {
    filter: blur(1px);
}
.js-cont {
    background: rgba(0,0,0,0.1);
    margin-bottom: 1em;
}
.js-cont iframe {
    width: 100%;
    height: 100%;
}
.js-desc {}
.js-desc .desc-tit {
    display: flex;
    margin-bottom: 10px;
}
.js-desc .desc-tit .num {
    flex: 0 0 50%;
    font-size: 20px;
    margin-top: -5px;
}
.js-desc .desc-tit h3 {
    flex: 0 0 50%;
}
.js-desc a {
    position: relative;
    font-family: 'Abel';
    margin-left: 75%;
}
.js-desc a.cta::before {
    content: '';
    position: absolute;
    top: -30%;
    left: -20%;
    z-index: -1;
    background: var(--mint-circle);
    border-radius: 30px;
    width: 35px;
    height: 35px;
    transition: .3s ease;
}
.js-desc a.cta:hover::before {
    width: 125px;
}
svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000;
    stroke-width: 0.5px;
    transform: translateX(-5px);
    transition: all .3s ease;
}
.js-desc a.cta:hover svg {
    transform: translateX(0);
}
.js-cont-box.imgslide {
/*    filter: blur(1px);*/
}
.js-cont-box.imgslide .left {
    flex: 0 0 50%;
}
.js-cont-box.imgslide .right {
    flex: 0 0 40%;
    padding-bottom: 10em;
}
.js-cont-box.imgslide .js-cont {
    height: 15vw;
    min-height: 400px;
}

.js-cont-box.parallax .left {
    flex: 0 0 50%;
    padding-bottom: 15em;
}
.js-cont-box.parallax .right {
    flex: 0 0 50%;
}
.js-cont-box.parallax .js-cont {
    min-height: 530px;
    height: 22vw;
}
.parallax .js-desc {
    width: 70%;
    margin-left: 30%;
}

.js-cont-box.mouse .left {
    flex: 0 0 30%;
}
.js-cont-box.mouse .right {
    flex: 0 0 50%;
}
.js-cont-box.mouse .js-cont {
    height: 530px;
}
.mouse .js-desc {
    width: 70%;
    margin-left: 30%;
}

.js-cont-box.chrome .left {
    flex: 0 0 30%;
    margin-top: -70px;
}
.js-cont-box.chrome .right {
    flex: 0 0 80%;
}
.js-cont-box.chrome .js-cont {
    height: 740px;
}

.js-cont-box.paint .left {
    flex: 0 0 70%;
}
.js-cont-box.paint .right {
    flex: 0 0 30%;
    margin-top: -250px;
}
.js-cont-box.paint .js-cont {
    height: 530px;
}


.js-tit-wrap {
    position: relative;
/*    display: none;*/
}
.js-tit-wrap h2 {
    position: relative;
    text-align: center;    
    font-size: 120px;
    opacity: 1;
    transition: opacity .6s ease;
}
.js-tit-wrap h2.invisible {
    opacity: 0;
}
.js-tit-wrap h2 span {
/*
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin-top: 200px;
*/
}
.js-tit-wrap h2 .text1 {
    font-family: 'Abel';
}
.js-tit-wrap h2 .text1 strong {
    font-family: 'Playfair Display';
    font-style: italic;
}
/*
.js-tit-wrap h2 span:not(:nth-child(3)) {
    font-family: 'Abel';
}
.js-tit-wrap h2 span.text1 {
    margin-left: -600px;
}
.js-tit-wrap h2 span.text2 {
    margin-left: -400px;
}
.js-tit-wrap h2 span.text3 {
    font-style: italic;
    margin-top: 185px;
}
.js-tit-wrap h2 span.text4 {
    margin-left: 600px;
}
*/
.js-tit-wrap .js-tit-circle {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-20%);
    /* margin-top: 115px; */
    z-index: -2;
    width: 500px;
    height: 500px;
    background: var( --mint-circle);
    border-radius: 50%;
}
.js-tit-bottom1 {
    position: relative;
    padding: 2.5em 0;
    font-family: 'Abel';
    font-size: 110px;
    -webkit-text-stroke: 1px var(--mint-circle);
    color: transparent;
}
.js-tit-bottom1 strong {
    font-family: 'Playfair Display';
    font-style: italic;
}
.js-tit-bottom1 .leftWrap {
/*
    position: absolute;
    top: 50%;
    left: -360px;
*/
}
.js-tit-bottom1 .leftWrap strong {
    margin-right: -20px;
}
.js-tit-bottom1 .rightWrap {
/*
    position: absolute;
    top: 50%;
    right: -360px;
*/
}
.js-tit-bottom1 .rightWrap strong {
    margin-left: -20px;
}
.js-tit-bottom2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 10em auto;
    font-family: 'Abel';
    text-align: center;
    font-size: 14px;
}
.js-tit-bottom2 .leftText {
    flex: 0 0 33.333%
}
.js-tit-bottom2 .leftText span {
    display: block;
}
.js-tit-bottom2 .center {
    flex: 0 0 33.333%;
    position: relative;
}
.js-tit-bottom2 .rightLeaf {
    width: 250px;
    position: absolute;
    bottom: 55%;
    left: 56%;
    z-index: -2;
}
.js-tit-bottom2 .leftLeaf {
    width: 250px;
    position: absolute;
    top: 55%;
    right: 56%;
    z-index: -2;
}
.js-tit-bottom2 .rightText {
    flex: 0 0 33.333%
}
.js-tit-bottom2 .rightText span {
    display: block;
}


/* section7 */
.sec7 {
}
.css-titWrap {
    display: flex;
    font-family: 'Abel';
    font-size: 120px;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}
.css-titWrap .titCircle {
    margin-left: -9%;
    border: 1px solid #C4C4C4;
    padding: 2em;
    border-radius: 65%;
    font-size: 12px;
    color: #C4C4C4;
    text-align: center;
}
.css-titWrap .tit2{
    font-family: 'Playfair Display';
    font-style: italic;
    margin-top: -18px;
}
.css-contWrap .css-row1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6em;
}
.css-contWrap .css-row1 .left {
    flex: 0 0 21%;
}
.css-contWrap .css-row1 .center {
    flex: 0 0 56%;
}
.css-contWrap .css-row1 .right {
    flex: 0 0 21%;
}
.css-contWrap .css-row2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10em;
}
.css-contWrap .css-row2 .left {
    flex: 0 0 36%;
}
.css-contWrap .css-row2 .center {
    flex: 0 0 26%;
}
.css-contWrap .css-row2 .right {
    flex: 0 0 36%;
}

.ani-cont {
    height: 430px;
}
.ani-cont iframe {
    width: 100%;
    height: 100%;
}
.tit-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ani-tit .num {
    font-size: 1.5vw;
}
.ani-tit a span {
    font-family: 'Abel';
    text-align: right;
    display: block;
}
.ani-tit p {
    font-family: 'Abel';
    text-align: right;
}

.infin .ani-cont {
    background: #eaeaea;
    position: relative;
}
.infin .ani-cont .coming1 {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.infin .ani-cont .coming2 {
    width: 42%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.infin .ani-cont .coming3 {
    width: 23%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.contactWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.contactWrap h2 {
    font-family: 'Abel';
    font-size: 1.5vw;
    color: #CAB193;
}
.contactWrap strong {
    display: block;
    font-size: 5vw;
    font-style: italic;
    padding-bottom: 0.4em;
}
.contactWrap a {
    color: #545454;
    text-decoration: none;
}
.contactWrap a span {
    font-size: 1.7vw;
    font-weight: 500;
}
.contactWrap .bgcircle {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 22vw;
    height: 22vw;
    background: var(--beige-circle);
    border-radius: 50%;
    transition: transform .3s ease-in-out;
}
.contactWrap:hover .bgcircle {
    transform: translate(-50%, -50%) scale(1.1);
}
.footer .rightLeaf {
    width: 14vw;
    position: absolute;
    bottom: 55%;
    left: 56%;
    z-index: -2;
    transform-origin: bottom left;
    transform: scale(0.8);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.footer .leftLeaf {
    width: 14vw;
    position: absolute;
    top: 55%;
    right: 56%;
    z-index: -2;
    transform-origin: top right;
    transform: scale(0.8);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.contactWrap:hover .rightLeaf {
    transform: rotate(20deg) scale(1.0);
}
.contactWrap:hover .leftLeaf {
    transform: rotate(25deg) scale(1.0);
}
.footer p {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}
