/* 로그인css */

/* 헤더 */
#header_login {
    width: 100%;
    margin: 0 auto;
    height: 45px;
    background-color: #fff;
    padding-top: 18px;
}
#header_login h1 {
    width: 818px;
    margin: 0 auto;
    text-align: left;
    height: 24px;
}
#header_login h1 img{
    width: 126px;
}


/* 상단이미지 */
#loginvisual {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #FFF;
}
#loginvisual .inner{
    width: 951px;
    height: 290px;
}

/* 로그인 */
#contents_area {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

#loginmenu1 a, #loginmenu2 a, #loginmenu3 a {
    width: 272px;
    border: 0px solid red;
    display: inline-block;
    float: left;
    line-height: 44px;
    border-right: 1px solid #e6e6e6;
}
#loginmenu1 .btn1, #loginmenu2 .btn2, #loginmenu3 .btn3 {
    width: 100%;
    height: 45px;
    display: block;
    float: left;
    background-color: #f9f9f9;
    color: #3872c8;
}
#loginmenu1 .btn2, #loginmenu1 .btn3, #loginmenu2 .btn1, #loginmenu2 .btn3, #loginmenu3 .btn1, #loginmenu3 .btn2 {
    width: 100%;
    height: 44px;
    display: block;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    color: #707070;
}

#loginmenu1, #loginmenu2, #loginmenu3 {display:block; width:828px; height:46px; margin:0 auto; font-size:16px; text-align:center; border: 1px solid #e6e6e6;  background-color: #fff; font-weight:bold; font-family:noto-R;}
#loginmenu1 a, #loginmenu2 a, #loginmenu3 a { width: 272px; border:0px solid red; display:inline-block; float:left; line-height:44px; border-right: 1px solid #e6e6e6; }
#loginmenu1 a span, #loginmenu2 a span, #loginmenu3 a span { letter-spacing: 0; }
#loginmenu1 a:last-child, #loginmenu2 a:last-child, #loginmenu3 a:last-child {border-right: none;}
#loginmenu1 .btn1, #loginmenu2 .btn2, #loginmenu3 .btn3 {width:100%; height:45px; display:block; float:left;  background-color: #f9f9f9; color:#3872c8;}
#loginmenu1 .btn2, #loginmenu1 .btn3, #loginmenu2 .btn1, #loginmenu2 .btn3, #loginmenu3 .btn1, #loginmenu3 .btn2 {width:100%; height:44px; display:block;  float:left; border-bottom: 1px solid #e6e6e6; color: #707070;}

#loginmenu4 {display:block; width:818px; height:44px; margin:0 auto; font-size:15px; text-align:center; border: 1px solid #e6e6e6;  background-color: #fff; font-weight:bold; font-family:noto-R;}
#loginmenu4 a {border:0px solid red; display:inline-block; float:left; line-height:44px; border-right: 1px solid #e6e6e6;}
#loginmenu4 a:last-child {border-right: none;}
#loginmenu4 a {width:25%; margin-right:-1px;}
#loginmenu4 a span { width:100%; }
#loginmenu4 .btn1 { height:44px; display:block;  float:left; border-bottom: 1px solid #e6e6e6;}
#loginmenu4 .btn2 { height:44px; display:block;  float:left; border-bottom: 1px solid #e6e6e6;}
#loginmenu4 .btn3 { height:44px; display:block;  float:left; border-bottom: 1px solid #e6e6e6;}
#loginmenu4 .btn4 { height:45px; display:block;  float:left; background-color: #f9f9f9; color:#3871c8;margin-left: -1px; border-left: 1px solid #e6e6e6;}

#loginhome table {margin:0; padding:0; }
#loginhome {width:828px; height:402px; background-color:#f9f9f9; border:1px solid #e6e6e6; margin:0 auto; border-top:none; position:relative;}
#loginhome .list {margin:20px; background-color:#FFF; width:776px; border:1px solid #dfdfdf; float:left; position:relative;}
#loginhome .banner {width:347px; height:319px;position:absolute; top:42px; right:50px;}
#loginhome .list .list1 { width:370px; height:319px; border-right:#e8e8e8 1px solid; margin:20px 0 20px 20px; padding:0 20px 0 0; position:relative; }
#loginhome .list .item { margin-bottom:4px; }
#loginhome .list .item .login_ipt_box { position:relative; display:block; width:261px; height:33px; overflow:hidden; border:1px solid #d1d1d1; }
#loginhome .list .item .login_ipt_box input { width:100%; padding:10px; border:none; }


#loginhome .list .item .login_ipt_box strong { display:block; position:absolute; top:8px; left:13px; font-size:11px; color:#afafaf; vertical-align:middle; }

#loginhome .list .chk { color:#000; }
#loginhome .list .naverlogin { margin:10px 0; width:172px; display: inline-block; float:left;}
#loginhome .list .naverlogin > a { border:#e5e5e5 1px solid; display:block; text-align:center; position:relative; height:48px; letter-spacing: -1px; line-height:48px; font-family:Noto-R; font-size:13px; color:#3c3c3c; }
#loginhome .list .naverlogin > a:hover { text-decoration:none; }
#loginhome .list .naverlogin > a .ico {background:url('../images/join_social_ico.gif') no-repeat 0 0; width:50px; height:50px; display:inline-block; float:left; margin-left:-1px; margin-top:-1px;}
#loginhome .list .naverlogin > a .kakao { background-position:-55px 0; }
#loginhome .list .btn { width:81px; height:74px; background:#4f86d8; position:absolute; top:0; right:20px; color:#fff; text-align:center; }
#loginhome .list .btn > a { color:#fff; font-family:Noto-R; font-size:16px; display:block;}
#loginhome .list .btn > a:hover { text-decoration:none; }
#loginhome .list .list1 table { float:left; border:none;}
#loginhome .list .list5{ margin:0px 20px; padding-top:7px; padding-bottom:6px; width:348px; float:left; text-align:center; position:absolute; top:193px; background:#fbfbfb; border:1px solid #dfdfdf;}
#loginhome .list .list2 { border:1px solid #dfdfdf; margin:0px 20px; padding:14px 40px 10px 21px; width:348px; float:left; position:absolute; top:232px;}

#loginhome .list .list2 dl {width:100%; float:left; margin-bottom:10px;}
#loginhome .list .list3 {width:348px; height:319px; border-right:#e8e8e8 1px solid; margin:20px 0 20px 20px; padding:0 20px 0 0; position:relative;}
#loginhome .list .list4 {width:348px; height:319px; border-right:#e8e8e8 1px solid; margin:20px 0 20px 20px; padding:0 20px 0 0; position:relative;}
#loginhome .list .list3 table {float:left; border:none; margin-left:35px; margin-top:30px;}
#loginhome .list .list3 .Sblack11 {height:17px; text-align:right;}
#loginhome .list .list4 table {float:left; border:none; margin-left:35px; margin-top:30px;}
#loginhome .list .list4 .Sblack11 {height:17px; text-align:right;}

/* 비회원 서비스 */

.nomember_box {position:relative;}
.nomember_box .subtit {position:absolute; top:8px; left:22px; color:#1b1b1b; font-size:11px; font-weight:bold;}
.nomember_box ul { padding-left:68px; margin-top:-2px; text-align:left;}
.nomember_box li {width:auto; display:inline-block; padding-left:6px; padding-right:9px; border-right:1px solid #e6e2e1; color:#666; font-size:11px; height:12px; line-height:10px; text-align:center; margin-right:0; letter-spacing:-1px;}
.nomember_box li a:hover {color:#000; text-decoration:none;}
.nomember_box li:last-child{border-right:none;}
.nomember_box .subtit .list-arrow {height:13px;width: 13px; display:inline-block; background:url(../images/list-arrow.png) no-repeat 0px -1px;}


/* 아이디찾기 */
#findid .title_box dl{
    display: flex;
}
#findid .title_box dl dd .bold{
    font-size: 17px;
    color: #323232;
    letter-spacing: -1px;
}
#findid table {margin:0; padding:0;}
#findid {width:828px; height:340px; background-color:#f9f9f9; border:1px solid #e6e6e6; margin:0 auto; border-top:none;}
#findid .menu1 {margin-left:20px; margin-top:20px; background-color:#FFF; width:390px; height:300px; border:1px solid #dfdfdf; margin:20px 20px 20px 0; float:right; padding:36px;}
#findid .menu2 {margin-left:20px; margin-top:20px; background-color:#FFF; width:390px; height:300px; border:1px solid #dfdfdf;  padding:36px; float:left;}

#findid .menu1 .radiobtn {float:left; width:312px;}


#findid .menu1 .birth ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findid .menu1 .birth li {height:25px; margin:5px 0;}

#findid .menu1 .phone ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findid .menu1 .phone li {height:25px; margin:10px 0;}

#findid .menu1 .email ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findid .menu1 .email li {height:25px; margin:10px 0;}

#findid .menu2 .radiobtn {float:left;}

#findid .menu2 .phone2 ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findid .menu2 .phone2 li {height:25px; margin:10px 0;}

#findid .menu2 .i-pin ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findid .menu2 .i-pin li {height:25px; margin:10px 0;}



/* 비밀번호 찾기 */

#findpw .title_box dl{
    display: flex;
}
#findpw .title_box dl dd .bold{
    font-size: 17px;
    color: #323232;
    letter-spacing: -1px;
}
#findpw table {margin:0; padding:0;}
#findpw {width:828px; height:340px; background-color:#f9f9f9; border:1px solid #e6e6e6; margin:0 auto; border-top:none;}
#findpw .menu1 {margin-left:20px; margin-top:20px; background-color:#FFF; width:390px; height:300px; border:1px solid #dfdfdf; margin:20px 20px 20px 0; float:right; padding:36px;}
#findpw.menu2 {margin-left:20px; margin-top:20px; background-color:#FFF; width:390px; height:300px; border:1px solid #dfdfdf;  padding:36px; float:left;}

#findpw .menu1 .radiobtn {float:left; width:312px;}


#findpw .menu1 .birth ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findpw .menu1 .birth li {height:25px; margin:5px 0;}

#findpw .menu1 .phone ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findpw .menu1 .phone li {height:25px; margin:10px 0;}

#findpw .menu1 .email ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findpw .menu1 .email li {height:25px; margin:10px 0;}

#findpw .menu2 .radiobtn {float:left;}

#findpw .menu2 .phone2 ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findpw .menu2 .phone2 li {height:25px; margin:10px 0;}

#findpw .menu2 .i-pin ul {border-top:1px solid #c9c9c9; float:left; margin-top:10px; margin-left:20px;}
#findpw .menu2 .i-pin li {height:25px; margin:10px 0;}


/* 하단약관 */
.endtextt2 {
    display: block;
    width: 820px;
    height: 25px;
    margin: 0 auto;
    margin-top: 10px;
}