@charset "utf-8";

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
  color: #fff;
  font-family: "Abel";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#canvas-wrapper {
  position: fixed;
}

.scroll-content {
  display: flex;
  white-space: nowrap;
  position: relative;
  height: 100vh;
}

.scroll-content--last {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  font-size: 20px;
  color: #fff;
}

.logo--top {
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 10;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  /* pointer-events: none; */
}

.logo--resize {
  margin-bottom: 1rem;
}

.logo--mask {
  overflow: hidden;
  margin-bottom: 0.1vw;
}

.logo--mask > div {
  width: 30vw;
  height: auto;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  color: #000;
}

.js-logo {
  letter-spacing: 1vw;
  line-height: 1;
  font-size: 4.82vw;
  text-transform: uppercase;
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.filterAbout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-weight: 700; 
}
.filter__list {
  display: flex;
}

.filter__item {
  display: block;
}

.filter__link {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
}
.filterAbout .filter__link {
  font-size: 60px;
}
.filter__link-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.75s ease;
  z-index: 2;
}
.filterAbout .filter__link-mask {
  height: 100%;
}
.filter__link-mask span {
  display: block;
  padding: 15px;
  font-size: 20px;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.75s ease;
  color: #fff;
}
.filterAbout .filter__link-mask span {
  font-size: 60px;
}
.filterAbout .filter__list .filter__item:nth-child(1) .filter__link .filter__link-mask span {color: pink;}
.filterAbout .filter__list .filter__item:nth-child(2) .filter__link .filter__link-mask span {color: wheat;}
.filterAbout .filter__list .filter__item:nth-child(3) .filter__link .filter__link-mask span {color: aquamarine;}
.filterAbout .filter__list .filter__item:nth-child(4) .filter__link .filter__link-mask span {color: skyblue;}
.filterAbout .filter__list .filter__item:nth-child(5) .filter__link .filter__link-mask span {color: mediumpurple;}
.filterAbout .filter__list .filter__item .filter__link .filter__link-mask span {opacity: 0.5;}
.filter__link:hover .filter__link-mask span,
.filter__link.is-active .filter__link-mask span {
  transform: translate3d(0, 0, 0);
}

.filter__link:hover .filter__link-mask,
.filter__link.is-active .filter__link-mask {
  transform: translate3d(0, 0, 0);
}

.slide {
  display: flex;
  width: 50vw;
  height: 100%;
  padding: 20vh 0;
}

.slide:last-child.slide--0 {
  width: 100vw;
  padding: 12em 0;
}

.slide--1 {
  align-items: flex-start;
}

.slide--2 {
  align-items: flex-end;
}

.slide--3 {
  align-items: center;
}
.slide--4 {
  width: 45vw;
}
.slide:last-child {
  width: 65vw;
  padding-right: 15vw;
}

.slide__inner {
  position: relative;
  padding-left: 15vw;
  width: 100%;
}
.slide__inner.about {
  padding-left: 10vw;
}
.js-transition-img__inner.contact {
  padding-left: 55%;
  width: 80%;
  color: #fff;
}

.slide__sub-title {
  position: absolute;
  top: 5%;
  left: 5vw;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1vw;
  transition: transform 0.5s;
}

.slide__title {
  position: absolute;
  top: 7.5%;
  left: 7.5vw;
  color: #fff;
  font-size: 4vw;
  z-index: 2;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.5s;
}
span.js-transition-title {
  white-space: pre;
}
p.js-transition-title {
  position: absolute;
  top: 30%;
  white-space: pre;
}

.slide__project {
  color: #fff;
  position: absolute;
  top: 97%;
  right: 0;
  font-size: 1.15vw;
  padding-top: 1.5vw;
  font-family: "GmarketSans";
  overflow: hidden;
}
.slide__project .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.slide__project .line.hover {
  transform: translateX(-100%) !important;
}
.slide__img {
  position: relative;
  overflow: hidden;
  padding-top: 65%;
  width: 100%;
  background-blend-mode: multiply;
}

.slide__img figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slide__img figure img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.scrollbar {
  position: absolute;
  bottom: 7.5%;
  left: 20%;
  right: 20%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.scrollbar__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #fff;
}

.mask {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.mask__slice {
  flex: 1;
  background-color: #fff;
}

.mask__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mask-line {
  position: relative;
  transform-origin: left;
  width: 30vw;
  height: 2px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  visibility: hidden;
  opacity: 0;
}

.mask-line__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: left;
}

.resize {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}

.resize__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "GmarketSans";
}

.resize span {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1100px) {
  .resize {
    display: block;
  }
}
@media (max-height: 790px) {
  .resize {
    display: block;
  }
}
.face {
  height: 100%;
  background: url(../img/face.webp) top / contain no-repeat;
}
.about {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  padding: 20vh 0;
  font-family: "GmarketSans";
}
.about > div {
  display: flex;
  justify-content: space-between;
  flex: 1 1 94%;
  overflow: hidden;
  margin: 3%;
}
.about_item {
  width: 45%;
}
.about_item .title {
  font-size: 30px;
}
.about_item .desc {
  font-family: "Chosunilbo_myungjo";
  font-size: 20px;
  opacity: 0.6;
  width: 100%;
  text-align: justify;
  white-space: normal;
}
.textbox {
  border-bottom: 1px solid #ddd;
  padding: 60px 0 15px 0;
  display: flex;
}

.textbox:first-child {
  padding: 0 0 15px 0;
}

.textbox label {
  flex: 1 1 7%;
}
label,
input,
textarea {
  font-size: 20px;
}
.textbox input,
.textbox textarea {
  flex: 1 1 60%;
  background: rgba(255, 255, 255, 0);
  border: 0;
  color: #fff;
}
.textbox input::placeholder,
.textbox textarea::placeholder {
  font-size: 16px;
  font-family: "Chosunilbo_myungjo";
}
input:focus,
textarea:focus {
  outline: none;
}

.textbox textarea {
  resize: none;
}

.contact {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.contact_btn {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}

.contact .contact_btn button {
  font-family: "Chosunilbo_myungjo";
  font-size: 1.492895em;
  position: relative;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.contact .contact_btn button::after {
  position: absolute;
  content: "";
  right: -20px;
  bottom: 7px;
  width: 13px;
  height: 14px;
  background: url(../img/arrow.svg);
}
