@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); /* Alata 제목 */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} /* Gmarket Sans B */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  /* Gmarket Sans M */
@font-face {
    font-family: 'JSDongkang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} /* 정선동강체 Bold */

#contents {padding-right: 65px; background-color: #fedb01;} /* 왼쪽 메뉴 65px */
#section1 {
    height: 100vh;
    background-color: #fedb01;
}

/* 헤더 */
#header .logo a {
    opacity: 1;
}
.sign li {
    opacity: 1;
}
/* 메뉴 */

#header .menu .menu-line {   /* 왼쪽 메뉴 65px */
    transform: translateX(0);
}



@media (max-width:1325px) { 
    .content-box {width: 96%; padding: 0 2%;}
}



@media (max-width:794px) {
    #contents {padding-right: 0;} /* 왼쪽 메뉴 65px */
}
