* {margin: 0; padding: 0; box-sizing: border-box; cursor: none;}
body {background: #F1EFE6; overflow-x: hidden;}
a {text-decoration: none; color: #000;}
li {list-style: none;}
em {font-style: normal;}
img {vertical-align: top;}
h3 {font-family: 'Recoleta',serif; font-size: 7rem; position: relative;}
h3 img {position: absolute;}
h4 {font-family: 'yg-jalnan'; font-size: 3rem; color: #333;}
:root {font-size: 16px;}
.row {padding: 0 20px;}
.container {max-width: 1200px; margin: 0 auto;}
.cursor {position: absolute; left: 0; top: 0; z-index: 10000;}
.cursor img {width: 4rem;}