/*######### 레이아웃 #########*/

/* section : main */
#main {
  height: 290vw;
  background: #F8F6F1;
}
/* section : about */
#about {
  height: 1000vw;
  background: #F8F6F1;
}
/* section : site */
#site {
  height: 200vw;
  background:  #E7B46C;
}
/* section : ani */
#ani {
  height: 1500vw;
  background:  #082B9D;
}
/* section : script */
#script {
  height: 700vw;
  background:  rgb(19, 19, 19);
}
#contact {
  height: 1200vw;
  background: #C4C4C4;
}


/*######### 스크롤 #########*/
.scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  color: #fff;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

/*######### fixed #########*/
.fixed {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
}

/*######### 메인 #########*/
.main-inner .cover {
  width: 100%;
  height: 100vh;
  background: #112F97;
}
.main-inner .title {
  line-height: 0.9;
  font-family: "NewYork";
  overflow: hidden;
}
.main-inner .title h1 {
  display: inline-block;
  font-size: 7vw;
  color: #F8F6F1;
  transform: translateY(100px);
}
/* 메인 텍스트 */
.main-inner .text-area {
  display: none;
  position: fixed;
  top: 50%; right: 0;
  transform: translateY(-50%);
  width: 76%;
  font-size: 10vw;
  line-height: 0.9;
  text-align: right;
  padding: 3vw 4vw 3vw 0;
}
.main-inner .text-area div {
  overflow: hidden;
  font-family: "NewYork";
  transform: translateY(0px) rotate(0deg);
}
.main-inner .text-area div span {
  display: inline-block;
  transform: translate(0,150px);
  color: #112F97;
}
.main-inner .text-area div:nth-child(1) {
  margin-right: 24vw;
}
.main-inner .text-area div:nth-child(3) {
  margin-right: 10vw;
}
.main-inner .text-area div:nth-child(4) {
  margin-right: 30vw;
}


/*###### about ######*/
.about-cover {
  width: 0%;
  height: 100vh;
  overflow: hidden;
}
.profile {
  width: 27.3vw;
  height: 37vw;
  overflow: hidden;
}
.profile img{
  height: 100%;
  object-fit: cover;
}
.about-title {
  position: fixed;
  top: 11.3vw;
  left: 15.2vw;
  height: 5vw;
  font-family: "NewYork";
  font-size: 8.3vw;
  color: #E18A86;
}
.about-title div {
  line-height: 8.3vw;
  overflow: hidden;
  transform: translate(0px,0px) rotate(0deg);
}
.about-title div span{
  display: inline-block;
  transform: translate(-600px, -300px);
}
.about-title div:nth-child(1) span{
  transform: translate(-600px, 0px);
}
.about-title div em {
  display: inline-block;
  padding-right: 1vw;
  font-family: 'Chosunilbo_myungjo';
  font-size: 6vw;
  vertical-align: top;
  transform: translate(-600px, 0px);
}
.about-text{
  position: fixed;
  top: 66%;
  right: 11%;
  text-align: justify;
  width: 24vw;
  overflow: hidden;
  transform: rotate(0deg);
}
.about-text p{
  transform: translate(-500px,0px);
  line-height: 1.4;
  font-family: 'Chosunilbo_myungjo';
  font-weight: 100;
  font-size: 1.04vw;
  color: #E18A86;
}
.about-inner > img {
  position: fixed;
  top: 3.2vw;
  right: 28%;
  width: 95px;
  opacity: 0;
  transform: rotate(0deg);
}


/* site */
.site-inner {
  display: none;
}
.site-cover1 {
  display: block;
  width: 100vw;
  height: 0vh;
  background: #EEBEAC;
}
.site-cover2 {
  display: none;
  content: '';
  width: 150vw;
  height: 150vw;
  border-radius: 50%;
  background: #D37E55;
}
svg {
  height: 400vh;
  transform: translate(0px, 0px) rotate(0deg);
}
svg text {
  font-family: "NewYork";
  fill: #C44318;
  text-transform: uppercase;
}
.site-title {
  font-family: "NewYork";
  overflow: hidden;
}
.site-title h2 {
  font-size: 7vw;
  color: #C44318;
  line-height: 1.2;
  transform: translateY(-150px);
}

.site-list ul {
  position: fixed;
  width: 800%;
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
}
.site-list ul li {
  display: inline-block;
  position: relative;
  width: 36.1vw;
  height: 19.4vw;
  margin-right: 21vw;
  /* margin-right: 21vw; */
  padding: 18px;
  box-sizing: border-box;
  background: rgb(19, 19, 19);
}
.site-list ul li:hover {
  border: none;
}

/* cover */
.site-list ul li .site-box {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.site-list ul li .site-box::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  background: #fff;
  border-radius: 50%;
  transition: all 1s;
}
.site-list ul li:hover .site-box::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  height: 1000px;
  background: #fff;
  border-radius: 50%;
}
.site-list ul li:nth-child(1) {
  background: #EEBEAC;
  border: 5px solid #C44318;
  color: #C44318;
}
.site-list ul li:nth-child(2) {
  background: #E7B46C;
  border: 5px solid #975E1A;
  color: #975E1A;
}
.site-list ul li:nth-child(3) {
  background: #679678;
  border: 5px solid #43503F;
  color: #43503F;
}
.site-list ul li:nth-child(4) {
  background: #8AAECA;
  border: 5px solid #44598B;
  color: #44598B;
}
.site-list ul li:nth-child(5) {
  background: #CE8B9F;
  border: 5px solid #622E3D;
  color: #622E3D;
}
.site-list ul li:nth-child(6) {
  background: #D37E55;
  border: 5px solid #99451C;
  color: #99451C;
}


.site-list ul li a > div {
  font-size: 1.6vw;
  font-family: "NewYork";
  line-height: 1
}
.site-list ul li a .num {
  position: relative;
}
.site-list ul li a img {
  position: absolute;
  display: block;
  transform:  translate(-50%,-10%) rotate(11deg);
  left: 52%;
  width: 24vw;
  transition: all .2s;
}

.site-list ul li:nth-child(2) img {
  transform:  translate(-50%,-8%) rotate(11deg);
}
.site-list ul li:nth-child(4) img {
  transform:  translate(-50%,-8%) rotate(11deg);
}
.site-list ul li:nth-child(6) img {
  transform:  translate(-50%,-8%) rotate(11deg);
}


.site-list ul li a .more {
  position: relative;
  writing-mode: vertical-rl;
  float: right;
  padding-top: 11vw;
  transition: all 1.5s;
}
.site-list ul li a .more::before {
  content: '';
  position: absolute;
  top: 7vw;
  right: 0.7vw;
  width: 1px;
  height: 55px;
  background: #fff;
  transition: all 1.5s;
}
.site-list ul li:nth-child(1) a .more::before {
  background: #C44318;
}
.site-list ul li:nth-child(2) a .more::before {
  background: #975E1A;
}
.site-list ul li:nth-child(3) a .more::before {
  background: #43503F;
}
.site-list ul li:nth-child(4) a .more::before {
  background: #44598B;
}
.site-list ul li:nth-child(5) a .more::before {
  background: #622E3D;
}
.site-list ul li:nth-child(6) a .more::before {
  background: #99451C;
}



/* ani */
.ani-inner {
  display: none;
  width: 100vw;
  height: 100vh;
}
.ani-title {
  position: fixed;
  top: 100%; left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.ani-title h2 {
  font-family: "NewYork";
  font-size: 5.8vw;
  line-height: 1;
  color: #fff;
}
.ani-list {
  display: block;
  position: relative;
  top: 150%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
  width: 23.8vw;
  height: 33.3vw;
}
.ani-list .card {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 23.8vw;
  height: 33.3vw;
  background: #ddd;
  transform: rotate(0deg);
  overflow: hidden;
}
.ani-list .card em {
  padding-left: 0.8vw;
  font-size: 2.6vw;
  font-family: "NewYork";
  color: rgba(255,255,255,.6);
}
.ani-list .card .water {
  opacity: 0;
}
.card-inner {
  position: relative;
  width: 20vw;
  height: 30vw;
  background: #fff;
}
.ani-list .card:nth-child(1) {
  background: #EC9090;
  transform: rotate(0deg);
  z-index: 800;
}
.ani-list .card:nth-child(2) {
  opacity: 0;
  background: #65BA63;
  transform: rotate(4.64deg);
  z-index: 700;
  top: 1%;
  left: 40%;
}
.ani-list .card:nth-child(3) {
  opacity: 0;
  background: #F3C758;
  transform: rotate(15.38deg);
  z-index: 600;
  top: 5%;
  left: 75%;
}
.ani-list .card:nth-child(4) {
  opacity: 0;
  background: #B863BA;
  transform: rotate(22.04deg);
  z-index: 500;
  top: 13%;
  left: 110%;
}
.ani-list .card:nth-child(5) {
  opacity: 0;
  background: #3B67BD;
  transform: rotate(30.83deg);
  z-index: 400;
  top: 27%;
  left: 150%;
}
.ani-text {
  position: fixed;
  left: 8%; top: 50%;
  transform: translate(0%,-50%);
}
.ani-cover {
  position: relative;
  width: 44.9vw;
  height: 21vw;
}
.ani-text ul li {
  opacity: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 44.9vw;
  color: #EC9090;
  text-align: justify;
  transform: translateX(-5%);
}
.ani-text ul li h2 {
  font-size: 6.4vw;
  font-family: "NewYork";
  line-height:1;
}
.ani-text ul li p {
  font-size: 1.4vw;
  font-family: 'Chosunilbo_myungjo';
  line-height: 1.3;
  margin-top: 2vw;
}
.ani-text ul li button {
  margin-top: 2vw;
  width: 10vw;
  height: 2.86vw;
  font-size: 1.14vw;
  font-family: 'S-CoreDream-2ExtraLight';
  border-radius: 5px;
  color: #fff;
  font-weight: 100;
  background: #EC9090;
}
.ani-text ul li:nth-child(2) {
  color: #65BA63;
}
.ani-text ul li:nth-child(2) button {
  background: #65BA63;
}
.ani-text ul li:nth-child(3) {
  color: #F3C758;
}
.ani-text ul li:nth-child(3) button {
  background: #F3C758;
}
.ani-text ul li:nth-child(4) {
  color: #B863BA;
}
.ani-text ul li:nth-child(4) button {
  background: #B863BA;
}
.ani-text ul li:nth-child(5) {
  color: #3B67BD;
}
.ani-text ul li:nth-child(5) button {
  background: #3B67BD;
}





/* 애니메이션 코드  */
/* 1. 물결 */
.water{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width:12vw;
  height: 12vw;
  background-color: skyblue;
  border-radius: 50%;
  box-shadow: inset 0 0 30px 0 rgba(0,0,0,.2), 0 4px 10px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.water:before, .water:after{
  content:'';
  position: absolute;
  width:12vw;
  height: 12vw;
  top:-5vw;
  background-color: #fff;
}
.water:before{
  border-radius: 45%;
  background:rgba(255,255,255,.7);
  animation:wave 5s linear infinite;
}
.water:after{
  border-radius: 35%;
  background:rgba(255,255,255,.3);
  animation:wave 5s linear infinite;
}
@keyframes wave{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}


/* 2. 커피 */
.steam-box {
  position: relative;
  top: 50%; left: 75%;
  transform: translate(-50%,-50%);
}
.card:nth-child(4) > div {
  position: relative;
  top: 39%; left: 77%;
  transform: translate(-50%,-50%);
}
.steam {
  height: 110px;
  width: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -76px;
  margin-left: 37px;
  z-index: 0;
  opacity: 0;
}
#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}
#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}
@keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}
#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}
@keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

#cup {
  z-index: 1;
}
#cup-body {
  position: absolute;
  height: 136px;
  width: 200px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}
#cup-shade {
  position: relative;
  height: 261px;
  width: 190px;
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 35%;
  margin-top: -3px;
  transform: rotate(47deg);
  z-index: 1;
}
#cup-handle {
  position: relative;
  height: 54px;
  width: 41px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #F3F3F3;
  margin-bottom: 100px;
  margin-left: 185px;
  display: inline-block;
  z-index: 0;
}
#saucer {
  height: 21px;
  width: 200px;  
  border-radius: 0 0 100px 100px;
  background-color: #F9F9F9;
  margin-top: -67px;
  margin-left: 5px;
  z-index: 2;
}
#shadow {
  height: 10px;
  width: 200px;
  border-radius: 50%;
  margin-top: 0;
  margin-left: 6px;
  background-color: #3c3d3d;
}

/* 3. wave cirdle */
.circle-wrap {
 position: absolute;
 top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.ani-row .circle {
   border-radius : 50%;
   width: 10px; height: 10px; background: rgb(255, 255, 255);
   margin: 5px 10px;
   transform-origin: top center;
   animation: spin 1s linear infinite;
}
.row {
   display:flex;
}
@keyframes spin {
   0% {transform: scale(1.1) rotate(0);}
   50% {transform: scale(0.2) rotate(180deg);}
   100% {transform: scale(1.1) rotate(360deg);}
}
.row:nth-child(1) .circle {animation-delay: 100ms}
.row:nth-child(2) .circle {animation-delay: 200ms}
.row:nth-child(3) .circle {animation-delay: 300ms}
.row:nth-child(4) .circle {animation-delay: 400ms}
.row:nth-child(5) .circle {animation-delay: 500ms}
.row:nth-child(6) .circle {animation-delay: 600ms}
.row:nth-child(7) .circle {animation-delay: 700ms}
.row:nth-child(8) .circle {animation-delay: 800ms}
.row:nth-child(9) .circle {animation-delay: 900ms}

/* 4. 하트 */
.back {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fde7e7;
  animation-name: backdiv;
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
}
.heart {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  background-color: rgb(221, 125, 141);
  height: 50px;
  width: 50px;
  animation-name: beat;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: rgb(221, 125, 141);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: rgb(221, 125, 141);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: rgb(248, 221, 219);
  }
  }
@keyframes beat {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(-45deg);
  }
  50% {
    transform:  translate(-50%, -50%) scale(0.6) rotate(-45deg);
  }
  }


  @keyframes rotate {
    0%   { transform: rotateX(0) rotateZ(0); }
    20%  { transform: rotateX(60deg) rotateZ(0);   }
    40%  { transform: rotateX(60deg) rotateZ(60deg); }
    60%  { transform: rotateX(60deg) rotateZ(60deg) rotateX(90deg); }
    80%  { transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg); }
    100% { transform: rotateY(0) rotateX(0) rotateZ(0); }
  }
  div.circle {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: rotate 5s infinite;
    transform-origin: center center;
  }
  
  div.side {
    background: rgba(255, 255, 255, 0.3);
    width: 200px;
    height: 200px;
    transform: rotateX(0deg);
    border-radius: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
  }
  
  div.side:nth-child(2) { transform: rotateX(30deg); }
  div.side:nth-child(3) { transform: rotateX(60deg); }
  div.side:nth-child(4) { transform: rotateX(90deg); }
  div.side:nth-child(5) { transform: rotateX(120deg); }
  div.side:nth-child(6) { transform: rotateX(150deg); }
  

/* 5ani */
.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
.preloader {
  /* size */
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader 2s infinite ease-in;
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  border-radius: 50%;
}

.preloader div:nth-child(1) {
  transform: rotateZ(0deg);
  animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    transform: rotateZ(36deg);
  }
  7% {
    transform: rotateZ(0deg);
  }
  57% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(2) {
  transform: rotateZ(36deg);
  animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  12% {
    transform: rotateZ(-36deg);
  }
  62% {
    transform: rotateZ(-36deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(3) {
  transform: rotateZ(72deg);
  animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg);
  }
  17% {
    transform: rotateZ(-72deg);
  }
  67% {
    transform: rotateZ(-72deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(4) {
  transform: rotateZ(108deg);
  animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg);
  }
  22% {
    transform: rotateZ(-108deg);
  }
  72% {
    transform: rotateZ(-108deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(5) {
  transform: rotateZ(144deg);
  animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg);
  }
  27% {
    transform: rotateZ(-144deg);
  }
  77% {
    transform: rotateZ(-144deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(6) {
  transform: rotateZ(180deg);
  animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg);
  }
  32% {
    transform: rotateZ(-180deg);
  }
  82% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(7) {
  transform: rotateZ(216deg);
  animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg);
  }
  37% {
    transform: rotateZ(-216deg);
  }
  87% {
    transform: rotateZ(-216deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(8) {
  transform: rotateZ(252deg);
  animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg);
  }
  42% {
    transform: rotateZ(-252deg);
  }
  92% {
    transform: rotateZ(-252deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(9) {
  transform: rotateZ(288deg);
  animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg);
  }
  47% {
    transform: rotateZ(-288deg);
  }
  97% {
    transform: rotateZ(-288deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(10) {
  transform: rotateZ(324deg);
  animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg);
  }
  52% {
    transform: rotateZ(-324deg);
  }
  102% {
    transform: rotateZ(-324deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

/* script */
.script-inner {
  display: none;
  width: 100vw;
  height: 100vh;
}
.script-title {
  position: fixed;
  top: 100%; left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.script-title h2{
  font-family: "NewYork";
  font-size: 5.8vw;
  line-height: 1;
  color: #fff;
}
.bg {
  position: fixed;
  top: 100%; left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
  width: 16vw;
  height: 16vw;
  background: rgba(0,0,0,0.1);
}
.script-list {
  position: relative;
  top: 150%; left: 56%;
  transform: translateY(-50%);
  width: 38.7vw;
  height: 25.57vw;
}
.script-list ul li{
  width: 38.7vw;
  height: 25.57vw;
  background: #05113B;
  border-radius: 15px;
  transform:  translateX(-10%) rotate(15deg);
  margin-bottom: 12vw;
  overflow: hidden;
}
.list-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.list-inner img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}
.script-list ul li:nth-child(2){
  background: #EEEEEE;
}
.script-list ul li:nth-child(2) img{
  width: 70%;
}
.script-list ul li:nth-child(3){
  background: #DE5B43;
}
.script-text {
  position: fixed;
  left: 5%; top: 51%;
  transform: translate(0%,-50%);
}
.script-cover {
  position: relative;
  width: 39vw;
  height: 15.8vw;
  
}
.script-cover ul li {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 39vw;
  color: #05113B;
  text-align: justify;
  transform: translateY(30%);
}
.script-text ul li h2 {
  font-size: 5.8vw;
  font-family: "NewYork";
  line-height:1;
}
.script-text ul li p {
  font-size: 1.3vw;
  font-family: 'Chosunilbo_myungjo';
  line-height: 1.3;
  margin-top: 1.8vw;
}
.script-cover button {
  margin-top: 2.2vw;
  width: 8.12vw;
  height: 2.3vw;
  font-size: 0.8vw;
  text-align: center;
  font-family: 'S-CoreDream-2ExtraLight';
  border-radius: 5px;
  color: #05113B;
  font-weight: 100;
  border: 1px solid #05113B;
  background: none;
}
.script-cover ul li:nth-child(2) {
  color: #FFFFFF;
}
.script-cover ul li:nth-child(2) button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.script-cover ul li:nth-child(3) {
  color: #DE5B43;
}
.script-cover ul li:nth-child(3) button {
  color: #DE5B43;
  border: 1px solid #DE5B43;
}

/* script 1 */
.m-card text{
  font-family: 'S-CoreDream-3Light';
  fill:#fff
}

/* script 2 */
.calculator {
  --button-width: 80px;
  --button-height: 80px;
  
  display: grid;
  grid-template-areas: "result result result result"
    "ac plus-minus percent divide"
    "number-7 number-8 number-9 multiply"
    "number-4 number-5 number-6 subtract"
    "number-1 number-2 number-3 add"
    "number-0 number-0 dot equal";
  grid-template-columns: repeat(4, var(--button-width));
  grid-template-rows: repeat(6, var(--button-height));
  
  box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1), 8px 8px 16px -10px rgba(0, 0, 0, .15);
  padding: 24px;
  border-radius: 20px;
}

.calculator button {
  margin: 8px;
  padding: 0;
  border: 0;
  display: block;
  outline: none;
  border-radius: calc(var(--button-height) / 2);
  font-size: 24px;
  font-family: Helvetica;
  font-weight: normal;
  color: #999;
  background: linear-gradient(135deg, rgba(230, 230, 230, 1) 0%, rgba(246, 246, 246, 1) 100%);
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, .3);
}

.calculator button:active {
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset, 4px 4px 10px -8px rgba(0, 0, 0, .3) inset;
}

.result {
  text-align: right;
  line-height: var(--button-height);
  font-size: 48px;
  font-family: Helvetica;
  padding: 0 20px;
  color: #666;
}






/* contact */
.contact-inner {
  width: 100vw;
  height: 100vh;
  font-family: "NewYork";
  background: #BDC0C6;
  color: #fff;
}
.contact-inner h2 {
  position: fixed;
  top: 5vw; left:4.8vw;
  font-size: 6.21vw;
  opacity: 0;
  transform: translateX(5%);
  text-shadow: 4px 3px 5px rgba(0,0,0,0.25);
}
.contact-info {
  position: fixed; 
  bottom: 4.8vw; left:4.8vw;
}
.contact-info h3{
  font-size: 1.4vw;
  line-height: 1;
  padding-top: 2.3vw;
  opacity: 0;
  transform: translateX(5%);
  color: #F9F9F9;
}
.contact-info p {
  font-size: 2.42vw;
  line-height: 1;
  margin-top: 0.4vw;
  opacity: 0;
  transform: translateX(5%);
}
.box-cover {
  /* display: none; */
  position: absolute;
  top: 50%; right: 0%;
  transform: translate(0%,-50%);
  width: 50vw; height: 100vh;
  overflow: hidden;
}
.box-inner {
  position: relative;
}
.box-inner > div {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin-right:1.56vw;
  color: #fff;
}
.box-inner > div:nth-child(1) {
  transform: translate(0,70%);
}
.box-inner > div:nth-child(2) {
  transform: translate(0,-160%);
}
.box-inner > div:nth-child(3) {
  margin-right:0;
  transform: translate(0,70%);
}
.box-inner > div > div{
  width: 15.5vw;
  height: 27.3vw;
  margin-bottom: 1.56vw;
  position: relative;
  perspective: 1000px;
}
.box-inner > div > div > div:nth-child(1),
.box-inner > div > div > div:nth-child(2) {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2vw;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background: #191D25;
}

.box-inner > div > div > div:nth-child(1) {
  transform: rotateY(0deg);
}
.box-inner > div > div > div:nth-child(2) {
  transform: rotateY(180deg);
}
.box-inner > div > div > div:nth-child(2)::after {
  position: absolute;
  content: '';
  width: 93%;
  height: 96%;
  border: 1px solid #EF9829;
}
.box-inner .box1 div:nth-child(2) {
  color: #EF9829;
}
.box-inner .box1 .php-text {
  color: #191D25 !important;
  background: #E3E3E3;
  text-align: center;
  line-height: 1;
  font-size: 2.5vw;
}
.box-inner .box1 .php-text::after {
    border: 1px solid #191D25;
}
.box-inner .box1 .php-text {
  color: #191D25;
}
.box-inner .box2 > div div:nth-child(2) {
  color: #EA5950;
}
.box-inner .box2 > div div:nth-child(2)::after {
  border: 1px solid #EA5950;
}
.box-inner .box2 > div:nth-child(2) div:nth-child(2) {
  color: #719EF6;
}
.box-inner .box2 > div:nth-child(2) div:nth-child(2)::after{
  border: 1px solid #719EF6;
}
.box-inner .box3 > div div:nth-child(2) {
  color: #57C231;
}
.box-inner .box3 > div div:nth-child(2)::after {
  border: 1px solid #57C231;
}

