@charset "utf-8";

/* 레이아웃 */
#header { height: 325px; background: url(../img/header_bg.jpg) repeat-x center top ;}
#footer { border-top: 1px solid #eee;}

/* 컨테이너 */
.container {margin:0 auto; width: 990px; height: inherit;}

/* 컨테이너 레이아웃 */
#cont_nav { display:none; background-color: #f6fdff;}
#cont_tit {background-color: #EAF7FD;}
#cont_ban {background-color: #dceff7;}
#cont_cont {background-color: #f6fdff;}

/* 로딩영역 */
.loading_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}
.loading {
  width: 100px;
  height: 100px;
  border: 5px solid #679678;
  border-top-color: #43503F;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 스킵 내비게이션 */
#skip {position: relative;}
#skip a {position:absolute; top: -35px; left: 0; padding: 0 10px; background: #333; border: 1px solid #fff; text-align: center; color: #fff; line-height: 30px; }
#skip a:active,
#skip a:focus {top: 0;}

/* 헤더 */
.header .header-menu {text-align: right;}
.header .header-menu a { display:inline-block; padding: 10px 0px 10px 13px; color: #fff;}
.header .header-menu a:hover {color: #666;}
.header .header-tit {text-align: center;}
.header .header-tit h1 {display:inline-block; margin-top: 40px; padding: 5px 20px 6px 20px; background-color: #4aa8d4; color:#fff; font-size: 28px; font-weight: normal; text-transform: uppercase;}
.header .header-tit a { display: inline-block; padding: 5px 20px 6px 20px; margin-top: -5px; background-color: #2698cb; font-size: 18px; color: #fff; }
.header .header-icon {margin-top: 30px; text-align:center;}
.header .header-icon a {display: inline-block; margin:0 3px; width: 60px; height: 60px; background: url(../img/icon.png);}
.header .header-icon a.icon1 {background-position: 0 0;}
.header .header-icon a.icon2 {background-position: 0 -60px;}
.header .header-icon a.icon3 {background-position: 0 -120px;}
.header .header-icon a.icon4 {background-position: 0 -180px;}
.header .header-icon a.icon1:hover {background-position: -60px 0;}
.header .header-icon a.icon2:hover {background-position: -60px -60px;}
.header .header-icon a.icon3:hover {background-position: -60px -120px;}
.header .header-icon a.icon4:hover {background-position: -60px -180px;}

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 30px 0;}
.nav > div { float: left; width: 40%;}
.nav > div.last {width: 20%;}
.nav > div h3{margin-bottom:4px; font-size: 18px; color: #25a2d0;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div.last ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative;}
.tit h2 {padding: 5px 0; letter-spacing: 2px; font-size: 40px; text-align: center; color: #2c94c4; font-family: 'Nanum Brush Script', cursive;}
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px;}
.tit .btn.on {background-position: 0 -660px;}

/* 배너 */

.ban {position: relative; padding: 24px 0 45px;}
.ban .slick-prev {position: absolute; left: -80px; top: 80px; width: 43px; height: 43px; background: #ccc; background: url(../img/icon.png) no-repeat -150px 0; text-indent: -9999px;}
.ban .slick-next {position: absolute; right: -80px; top: 80px; width: 43px; height: 43px; background: #ccc; background: url(../img/icon.png) no-repeat -150px -43px; text-indent: -9999px;}
.ban .slick-prev:hover {background-position: -193px 0;}
.ban .slick-next:hover{background-position: -193px -43px;}
.ban img {border: 4px solid #dcdcdc;}
.ban img:hover {border-color: #98bcdc;}
.ban .slick-slide {margin: 10px;}
.ban .slick-dots {position: absolute; bottom: 15px; display: block; width: 100%; text-align: center;}
.ban .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px;}
.ban .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; cursor: pointer; background: #5dbfeb; border-radius: 50%;}
.ban .slick-dots li.slick-active button {background: #2b91c8;}

/* 컨텐츠 */
.cont {overflow: hidden; padding-top: 30px;}
.cont .column { position: relative; float:left; margin:0 30px 30px 0; padding-right: 30px; width: 289px; height: 363px;}
.cont .column.col1 {border-right: 1px solid #c8c8c8;}
.cont .column.col2 {border-right: 1px solid #c8c8c8;}
.cont .column.col3 {margin-right: 0; padding-right: 0;}
.cont .column.col4 {border-right: 1px solid #c8c8c8;}
.cont .column.col5 {border-right: 1px solid #c8c8c8;}
.cont .column.col6 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img {display:block; position: absolute; left: 0; top: 0; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #d0d0d0;}

.cont .col1 .ico_img {background-position: 0 -240px;}
.cont .col2 .ico_img {background-position: 0 -300px;}
.cont .col3 .ico_img {background-position: 0 -360px;}
.cont .col4 .ico_img {background-position: 0 -420px;}
.cont .col5 .ico_img {background-position: 0 -480px;}
.cont .col6 .ico_img {background-position: 0 -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}

/* 게시판1 */
.notice {position: relative;}
.notice h4 {padding-bottom: 3px; font-weight: bold; font-size: 14px; color: #0093bd;}
.notice ul li {overflow:hidden; padding-left: 8px; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 0 8px; }
.notice ul li a {font-size: 12px;}
.notice a.more {position: absolute; top: 0; right: 0; width:17px; height:17px; background: url(../img/icon.png) no-repeat -150px -90px;}

/* 게시판2 */
.notice2 {position: relative; margin-top: 15px;}
.notice2 h4 {padding-bottom: 3px; font-weight: bold; font-size: 14px; color: #0093bd;}
.notice2 ul li {overflow:hidden; padding-left: 8px; background: url(../img/dot.gif) no-repeat 0 8px; }
.notice2 ul li a {overflow:hidden; display:block; float: left; width: 65%; font-size: 12px; text-overflow: ellipsis; white-space: nowrap;}
.notice2 ul li span {display:block; float: right; width: 30%; text-align:right; font-size: 12px;}
.notice2 a.more {position: absolute; top: 0; right: 0; width:17px; height:17px; background: url(../img/icon.png) no-repeat -150px -90px;}

/* 게시판3 */
.notice3 {position: relative;}
.notice3 h4 {padding-bottom: 3px; font-weight: bold; font-size: 14px; color: #0093bd;}
.notice3 ul li {overflow: hidden; position: relative; padding: 8px 0 14px 60px;}
.notice3 ul li a img {position:absolute; top:0; left:0; width: 50px; height: 50px; border: 1px solid #0093bd;}
.notice3 ul li a strong {overflow:hidden; display: block; text-overflow: ellipsis; white-space: nowrap;}
.notice3 ul li a span {overflow:hidden; display: block; text-overflow: ellipsis; white-space: nowrap; font-size: 12px;}
.notice3 a.more {position: absolute; top: 0; right: 0; width:17px; height:17px; background: url(../img/icon.png) no-repeat -150px -90px;}

/* 마우스 호버효과1 */
.notice_hover { margin-bottom: 15px; }
.notice_hover h4 {padding-bottom: 3px; font-weight: bold; font-size: 14px; color: #0093bd;}
.notice_hover ul {overflow: hidden;}
.notice_hover ul li {float: left; width: 93px; margin-right: 5px; text-align: center;}
.notice_hover ul li:last-child {margin-right: 0;}
.notice_hover ul li a span {display: block; position: relative; width: 93px; height: 93px; line-height: 93px;}
.notice_hover ul li a span img {width: 100%;}
.notice_hover ul li a span em {visibility: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); color: #fff;}
.notice_hover ul li a span:hover em {visibility: visible;}
.notice_hover ul li a strong {display: inline-block; padding-top: 3px; font-size: 12px;}

/* 마우스 호버효과2 */
.notice_hover2 ul {overflow: hidden;}
.notice_hover2 ul li {float: left; width: 93px; margin-right: 5px; text-align: center;}
.notice_hover2 ul li:last-child {margin-right: 0;}
.notice_hover2 ul li a span {display: block; position: relative; width: 93px; height: 93px;}
.notice_hover2 ul li a span img {width: 100%;}
.notice_hover2 ul li a span em {visibility: hidden; position: absolute; left: 0; bottom: 0; width: 100%;  background: rgba(0,0,0,0.7); color: #fff;}
.notice_hover2 ul li a span:hover em {visibility: visible;}
.notice_hover2 ul li a strong {display: inline-block; padding-top: 3px; font-size: 12px;}

/* tab_menu */
.tab_menu {position: relative; padding: 8px; height:105px; border: 1px solid #ccc; }
.tab_menu ul {overflow: hidden; border-bottom: 1px solid #ccc; }
.tab_menu ul li {float: left; margin-right: -1px; margin-bottom:-1px; border: 1px solid #ccc;}
.tab_menu ul li.active {background-color: #2c94c4;}
.tab_menu ul li.active>a {color: #fff;}
.tab_menu ul li a {display: block; padding: 5px 10px;}
.tab_menu ul li ul {position: absolute; top: 48px; left: 0; width: 270px; border:0;}
.tab_menu ul li ul li {float: none; padding-left: 18px; border: 0; background: url(../img/dot.gif) no-repeat 9px 8px;}
.tab_menu ul li ul li a {overflow:hidden; padding: 0 0 3px 0; width: 100%; text-overflow: ellipsis; white-space: nowrap;}

/* 게시판4 */
.notice4 {position: relative; margin-top: 15px; border: 1px solid #ccc;}
.notice4 h4 {padding: 10px; border-bottom: 1px solid #ccc; font-size: 14px; color: #0093bd; font-weight: 700;}
.notice4 h4>em {color: #cf3292;}
.notice4 ul {padding: 10px 10px 10px 0;}
.notice4 ul li { overflow:hidden; background: url(../img/dot.gif) no-repeat 9px 8px;}
.notice4 ul li a {overflow: hidden; float: left; padding-left: 18px; width: 60%; text-overflow: ellipsis; white-space: nowrap;}
.notice4 ul li span {float:right; width: 30%; text-align: right;}
.notice4>a {position: absolute; top: 10px; right: 10px;}

/* 갤러리 */
.gallery {overflow:hidden; position: relative; border: 1px solid #ccc;}
.gallery h4 {padding: 10px 0 8px 11px; border-bottom: 1px solid #ccc; font-size: 14px; color: #0093bd;  font-weight: bold;}
.gallery .gallery_btn {position: absolute; top:7px; right: 5px;}
.gallery .gallery_img img {width: 100%;}

/* 슬릭 갤러리 */
.gallery .gallery_btn button {display: block; float: left; margin-right:3px; width: 23px; height: 23px;   background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn button.gb_icon1 {background-position: -150px -120px;}
.gallery .gallery_btn button.gb_icon2 {background-position: -150px -143px;}
.gallery .gallery_btn button.gb_icon3 {background-position: -150px -166px;}
.gallery .gallery_btn button.gb_icon4 {background-position: -150px -189px;}
.gallery .gallery_btn button.gb_icon1:hover {background-position: -173px -120px;}
.gallery .gallery_btn button.gb_icon2:hover {background-position: -173px -143px;}
.gallery .gallery_btn button.gb_icon3:hover {background-position: -173px -166px;}
.gallery .gallery_btn button.gb_icon4:hover {background-position: -173px -189px;}


/* 로그인 */
#login-wrap {margin-bottom: 15px; background: #f2f4f5; padding: 15px;}
.login_header {overflow: hidden; font-size: 12px; height: 30px;}
.login_header .lh_check {float: left; padding-right: 15px;}
.login_header .lh_check .input_check {vertical-align: -2px;}
.login_header .lh_ip {float: left;}
.login_header .lh_ip em {color: #0093bd; text-decoration: underline;}
.login_content {position: relative;}
.login_content .lc_btn{ position: absolute; top: 0; right: 0; width: 62px; height: 47px; background: #fff; border: 1px solid #bebebe;}
.login_content .input_text { margin-bottom: 3px; padding: 2px 5px; width: 182px; height: 16px;  border: 1px solid #bebebe; background: #fff;}
.login_footer {margin-top:5px;}
.login_footer li {display: inline;}
.login_footer li a {font-size: 12px;}

/* 팝업 */
.popup {margin-top: 15px;}
.popup h4 {font-size: 14px; color: #0093bd; padding-bottom: 4px; font-weight: 700;}
.popup ul {overflow: hidden;}
.popup ul li {float: left; margin-right: 5px; width: 93px;}
.popup ul li.last {margin-right: 0;}
.popup ul li img {width: 100%;}

/* 푸터 */
.footer {padding: 25px 0; text-align: center;}
.footer ul {margin-bottom: 20px;}
.footer ul li{position: relative; display: inline; padding: 0 7px 0 10px; }
.footer ul li:before {position:absolute; top: 2px; left: 0; content: ''; width: 1px; height: 12px; background-color: #ccc; }
.footer ul li:first-child:before { width: 0; height: 0;}
.footer .w3c {margin-top: 15px;}

/* 레이어 팝업 */
#layer { display:none; position: fixed; top: 50px; left: 50px; width: 700px; border: 10px solid #dceff7; box-shadow: 3px 2px 10px rgba(0,0,0,0.4);}
#layer img {display: block; width: 100%;}
#layer .close {position: absolute; top:20px; right: 20px; padding: 1px 6px; background: #0093bd; color: #fff; }
#layer .close:hover {text-decoration: underline;}