/* common */
:root {
  --white: #fff;
  --black: #000;

  --main_blue: #0049cf;
  --main_bg: #f9f9ff;
  --main_border: #dce1ec;

  --main_font: "KorolevCompressedW04-Heavy";
  --sub_font: "Korolev";

  --main_korfont: "ChosunNm";
  --sub_korfont: "SCoreDream";

  --main_color: #00265a;
  --sub_color: #006df9;
  --tex_color: #00398a;
  --desc_color: #07285a;
}

body {
  background-color: var(--main_bg);
}

section {
  width: 100%;
  height: 100%;
}

.container {
  width: 68.4%;
  /* border-left: 1px solid var(--main_border);
    border-right: 1px solid var(--main_border); */
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    width: 96%;
  }
}
@media (max-width: 501px) {
  .container {
    width: 100%;
  }
}
/* //common */
