main {
    width: 100%;
    height: 3000px;
}
.cont{
    height: 100vh;
    float: left;
    position: relative;
    display: inline-block;
}
  .image-container {
    width: 25.3%;
    position: fixed;
    height: 200vh;
    transform: translate(0px, 0px);
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.04, 0.72, 0.09, 0.99) !important;
  }

  #image-container1 {
    transform: translate(0px, -1581px)
  }
  .text {
    position: relative;
    width: 100%;
    height: 33.3%;
    margin-top: 20px;
  }
  .image {
    position: relative;
    width: 100%;
    height: 33.3%;
    transition: 1s cubic-bezier(0.04, 0.72, 0.09, 0.99);
    background:#999 ;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
  }

  .image1 {
    position: relative;
    width: 100%;
    height: 33.3%;
    transition: 1s cubic-bezier(0.04, 0.72, 0.09, 0.99);
    background:#555;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
  }

  .image2 {
    position: relative;
    width: 100%;
    height: 33.3%;
    transition: 1s cubic-bezier(0.04, 0.72, 0.09, 0.99);
    background:#ddd;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
  }

/* 모바일 */
@media (max-width:768px){
    .image-container {
        width: 25.3%;
        position: fixed;
        height: 100vh;
        transform: translate(0px, 0px);
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.04, 0.72, 0.09, 0.99) !important;
      }
    main {
        height: 2550px;
    }
    .image,.image1,.image2 {
        height: 30%;
    }
    .image-container {
        width: 45%;
    }
    .col.cont{
        display: none;
    }
}